<div class="ibox" ng-show="show_user.UsersFirstName">
  <div class="ibox-content no-border">
    <div class="row m-b-lg">
      <div class="col-lg-12 text-center">
        <h1>{{ show_user.UsersFirstName }} {{ show_user.UsersLastName }}</h1>

        <div class="m-b-sm">
          <img alt="Profile picture for {{show_user.UsersFirstName}} {{show_user.UsersLastName}}" class="img-circle" ng-src="{{ show_user.MediaUrl }}" alt="{{ show_user.UsersFirstName }} {{ show_user.UsersLastName }}" style="width: 100px;">
        </div>

        <p><strong>{{ show_user.UsersTitle }}</strong></p>
      </div>
      <div class="col-lg-12">
        <p>Joined: {{ show_user.UsersCreatedAt | dateToISO | date:'MMM d, yyyy' }}</p>
      </div>
      <div class="col-lg-12">
        <span ng-if="show_user.IsCandidate == 'Yes'" class="label label-primary m-b-sm">Candidate</span>
        <span ng-if="show_user.IsMentor == 'Yes'" class="label label-info m-b-sm">Mentor</span>
        <span ng-if="show_user.IsReviewer == 'Yes'" class="label label-warning m-b-sm">Reviewer</span>
        <span ng-if="show_user.IsAdmin == 'Yes'" class="label label-success m-b-sm">Admin</span>
      </div>

      <div class="clearfix"></div>
      <div class="hr-line-dashed"></div>

      <div class="col-lg-12 m-t">
        <p ng-if="show_user.UsersInstitution || show_user.UsersState">
          {{ show_user.UsersInstitution}}<br />
          <span>Home State: {{ show_user.UsersState }}</span>
        </p>
        <p>
          <i class="fa fa-envelope"> </i>
          <a href="mailto:{{ show_user.UsersEmail }}">{{ show_user.UsersEmail }}</a>
        </p>

        <h2 ng-if="show_user.PTypes.length > 0" class="uppercase">Portfolios</h2>
        <div ng-repeat="row in show_user.PTypes" class="m-b">
          <p>
            {{ row.PTypesTitle }}
            <small class="muted">{{ row.PortfoliosStatus }} {{ row.PortfoliosCompletionPercentage }}%</small>
          </p>
          <div class="progress progress-mini">
            <div style="width: {{ row.PortfoliosCompletionPercentage }}%;" class="progress-bar"></div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- end ibox-content -->
</div>
