<div class="ibox">
  <div class="ibox-content member-box">

    <!-- Avatar, info row -->
    <div class="row border-bottom member-info">
      <div class="col-sm-2">
        <img alt="Profile picture for {{show_user.UsersFirstName}} {{show_user.UsersLastName}}" class="img-circle avatar-48" ng-src="{{ show_user.MediaUrl }}" title="{{ show_user.UsersFirstName }} {{ show_user.UsersLastName }}" />
      </div>
      <div class="col-sm-10">
        <h1 class="m-b-xs">
          <strong>{{ show_user.UsersFirstName }} {{ show_user.UsersLastName }}</strong>
        </h1>
        <div class="m-b">
          <strong>{{ show_user.UsersTitle }}</strong> {{ show_user.UsersInstitution }}<br />
          <i class="fa fa-envelope"></i> <a href="mailto:{{ show_user.UsersEmail }}">{{ show_user.UsersEmail }}</a>
        </div>
      </div>
    </div>
    <!-- End avatar, info row -->

    <!-- Candidate assignment row -->
    <div class="row border-bottom member-assignments" style="padding: 6px;">
      <h2>Assigned Candidates</h2>
      <div ng-if="show_user.Assigned_candidates.length > 0">
        {{ show_user.Assigned_candidates_string }}
      </div>

      <span ng-if="show_user.Assigned_candidates.length == 0">
        No assigned candidates
      </span>
    </div>
    <!-- End Mentor, Reviewer assignment row -->

    <!-- Menu button row -->
    <div class="row m-t-sm">
      <div class="btn-group pull-right m-r" uib-dropdown>
        <button type="button" class="btn btn-primary btn-xs dropdown-toggle" uib-dropdown-toggle>
            Menu <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li>
            <a href ng-click="go_to_user_account(show_user.UsersId)">
              <i class="fa fa-user-secret"></i> Masquerade as this user
            </a>
          </li>
          <li>
            <a href="/users/edit/{{show_user.UsersId}}">
              <i class="fa fa-pencil"></i> Edit this user
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <a href ng-controller="ModalRemoveCtrl" ng-click="open(show_user.UsersId, 'reviewer', ptype_id, $index)">
              <span class="text-danger">
                <i class="fa fa-minus-circle"></i> Remove this mentor
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- End menu button row -->

  </div>
</div>
