<div ng-include="'app/views/portfolio-types/templates/tpl-header.html'"></div>

<div class="row wrapper wrapper-content animated fadeInRight" style="padding: 6px;">
  <form method="get" class="form-horizontal" ng-controller="QTypeMngrCtrl">

      <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h2>Artifact Questions &amp; Prompts</h2>
        <small>By default, all artifacts contain a Title, Documentation File(s), and Additional Information. You can add additional questions &amp; prompts to each artifact here.</small>
      </div>
      <div class="ibox-content">
        <div class="form-group">
          <div class="col-sm-12">

            <!-- Add new artifact element -->
            <div class="row m-b">
              <div class="col-sm-3">
                <div class="input-group">
                  <span class="input-group-addon" tooltip-placement="top" uib-tooltip="This question is required">
                    <input type="checkbox" ng-model="new.QTypesRequired" />
                  </span>
                  <input type="text" class="form-control" placeholder="Element label" ng-model="new.QTypesLabel" />
                  <field-error message="{{ errors.QTypesLabel }}"></field-error>
                </div>
              </div>
              <div class="col-sm-3">
                <select class="form-control" ng-model="new.QTypesType">
                  <option value="">Element type</option>
                  <option ng-repeat="row in questionTypes" value="{{ row.type }}">{{ row.displayName }}</option>
                </select>
                <field-error message="{{ errors.QTypesType }}"></field-error>
              </div>
              <div class="col-sm-5">
                <textarea class="form-control" rows="3" placeholder="Element values: separate with commas" ng-model="new.QTypesValues"></textarea>
                <field-error message="{{ errors.QTypesValues }}"></field-error>
              </div>
              <div class="col-sm-1">
                <a href ng-click="add_new_question('Artifacts')" class="btn btn-primary" title="Add new element"><i class="fa fa-plus"></i></a>
              </div>
            </div>
            <div class="hr-line-dashed"></div>
            <!-- End add new artifact element -->

            <!-- Artifact element repeater -->
            <div ng-show="elements.length > 0">
              <div class="row">
                <div class="col-sm-3"><h3>Element Label</h3></div>
                <div class="col-sm-3"><h3>Element Type</h3></div>
                <div class="col-sm-6"><h3>Element Values</h3></div>
              </div>

              <div ng-model="q_artifact" id="questions-container-artifact" as-sortable="sortableOptionsQuestionsArtifact">

                <div class="row" ng-repeat="row in q_artifact" as-sortable-item>

                  <div class="col-sm-3">
                    <span class="draghandle-field" as-sortable-item-handle title="Drag to Reorder"></span>
                    <div class="input-group">
                      <span class="input-group-addon" tooltip-placement="top" uib-tooltip="This question is required">
                        <input type="checkbox" ng-true-value="'Yes'" ng-false-value="'No'" ng-model="row.QTypesRequired" />
                      </span>
                      <input type="text" class="form-control" ng-model="row.QTypesLabel" />
                      <field-error message="{{ row.error_QTypesLabel }}"></field-error>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <select class="form-control" ng-model="row.QTypesType">
                      <option value="">Element type</option>
                      <option ng-repeat="row in questionTypes" value="{{ row.type }}">{{ row.displayName }}</option>
                    </select>
                    <field-error message="{{ row.error_QTypesType }}"></field-error>
                  </div>
                  <div class="col-sm-5">
                    <textarea rows="3" class="form-control" ng-model="row.QTypesValues"></textarea>
                    <field-error message="{{ row.error_QTypesValues }}"></field-error>
                  </div>
                  <div class="col-sm-1">
                    <div class="btn-group">
                      <a href ng-click="update_element(row)" class="btn btn-primary btn-sm" title="Save entry"><i class="fa fa-check"></i></a>
                      <a href ng-click="element_delete(row)" class="btn btn-danger btn-sm" title="Delete this element"><i class="fa fa-close"></i></a>
                    </div>
                  </div>
                </div>
                <!-- End artifact element repeater -->
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </form>

</div>
<div class="spacer-bottom"></div>
