<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-8">
    <h1>View Portfolio Type <span class="text-info" ng-bind="ptype.PTypesTitle"></span></h1>
    <ol class="breadcrumb">
      <li><a href="/portfolio-types/portfolio-manager">Portfolio Type Manager</a></li>
      <li class="active"><strong>View Portfolio Type</strong></li>
    </ol>
  </div>
  <div class="col-lg-4">
    <div class="pull-right"></div>
  </div>
</div>

<div class="row wrapper wrapper-content animated fadeInRight" style="padding: 6px;">

  <!-- Portfolio Menu Panel -->
  <div class="col-sm-4">
    <div ng-include="'app/views/portfolio-types/templates/tpl-portfolio-menu.html'"></div>
  </div>

  <!-- Portfolio stats panel -->
  <div class="col-sm-4">
    <div ng-include="'app/views/portfolio-types/templates/tpl-portfolio-view-stats.html'" ng-controller="PortfolioTypeViewStatsCtrl" ng-init="get_ptype_stats( ptype_id )"></div>
  </div>

  <!-- Portfolio Alerts Panel -->
  <div class="col-sm-4">
    <!-- TODO: Remove this panel for now until it gets completed -->
    <!--<div ng-include="'app/views/portfolio-types/templates/tpl-portfolio-alerts.html'"></div>-->
  </div>
  <div class="clearfix"></div>

  <!-- Portfolios Submitted for Review Panel -->
  <div class="col-sm-4">
    <div ng-include="'app/views/portfolio-types/templates/tpl-portfolio-submitted-for-review.html'" ng-controller="PortfolioTypeViewForPortfolioStatusCtrl" ng-init="get_portfolios_by_status( ptype_id, 'Submitted for Review' )"></div>
  </div>

  <!-- Portfolios Reviews Completed Panel -->
  <div class="col-sm-4">
    <div ng-include="'app/views/portfolio-types/templates/tpl-portfolio-reviews-completed.html'" ng-controller="PortfolioTypeViewForPortfolioStatusCtrl" ng-init="get_portfolios_by_status( ptype_id, 'Scored' )">
    </div>
  </div>
</div>
<div class="h-150"></div>
