<div ng-include="'app/views/portfolio-types/templates/tpl-header.html'"></div>

<div class="row wrapper wrapper-content animated fadeInRight" style="padding: 6px;">
  <form ng-submit="submit()" class="form-horizontal">

    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h2>Portfolio Information</h2>
          </div>
          <div class="ibox-content">
            <div class="form-group">
              <label for="title" class="col-sm-2 control-label">Title</label>
              <div class="col-sm-10">

                <!-- TITLE Input -->
                <input type="text" id="title" class="form-control" ng-model="fields.PTypesTitle" />
                <field-error message="{{ errors.PTypesTitle }}"></field-error>
              </div>
            </div>

            <div class="form-group">
              <label for="desc" class="col-sm-2 control-label">Description</label>
              <div class="col-sm-10">

                <!-- BODY/DESCRIPTION Input -->
                <textarea class="form-control" id="desc" ng-model="fields.PTypesBody"></textarea>
                <field-error message="{{ errors.PTypesBody }}"></field-error>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label" for="scoring">Scoring Plugin</label>
              <div class="col-sm-10">

                <!-- SCORING PLUGIN select -->
                <select class="form-control" id="scoring" ng-model="fields.PTypesScoringPlugin">
                  <option value="">No Scoring</option>
                  <option ng-repeat="(key, plugin) in scoring_plugins" value="{{ key }}">{{ plugin }}</option>
                </select>
                <field-error message="{{ errors.PTypesScoringPlugin }}"></field-error>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label" for="ioat">>Inter-Observer Agreement Threshold</label>
              <div class="col-sm-2">
                <div class="input-group">
                  <input type="text" id="ioat" class="form-control" ng-model="fields.PTYpesIOAThreshold" />
                  <span class="input-group-addon">%</span>
                  <field-error message="{{ errors.PTYpesIOAThreshold }}"></field-error>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label">Open &amp; Close Dates</label>

              <div class="col-sm-10">
                <div class="input-group col-sm-5 pull-left m-r" ng-controller="DatepickerCtrl">
                  <input
                         ng-click="datePickerOpen()"
                         uib-datepicker-popup="{{format}}"
                         type="datetime"
                         class="form-control"
                         placeholder="Portfolio open date"
                         ng-model="dates.start_date"
                         show-button-bar="false"
                         is-open="datePickerIsOpen" />
                  <span class="input-group-addon">
                    <a href="#" ng-click="datePickerOpen()"><i class="fa fa-calendar"></i></a>
                  </span>
                </div>
                <div class="input-group col-sm-5 pull-left m-r" ng-controller="DatepickerCtrl">
                  <input
                         ng-click="datePickerOpen()"
                         uib-datepicker-popup="{{format}}"
                         type="datetime"
                         class="form-control"
                         placeholder="Portfolio close date"
                         ng-model="dates.end_date"
                         show-button-bar="false"
                         is-open="datePickerIsOpen" />
                  <span class="input-group-addon">
                    <a href="#" ng-click="datePickerOpen()"><i class="fa fa-calendar"></i></a>
                  </span>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label">Allow Mentors?</label>
              <div class="col-sm-10">

                <div class="switch m-t-xs col-sm-2">
                  <div class="onoffswitch">
                    <input type="checkbox" class="onoffswitch-checkbox" id="mentors" ng-model="fields.PTypesMentor" />
                    <label class="onoffswitch-label" for="mentors">
                      <span class="onoffswitch-inner"></span>
                      <span class="onoffswitch-switch"></span>
                    </label>
                  </div>
                </div>
                <span class="help-block m-b-none col-sm-10">Allow candidates to request mentors that will help them create their portfolio.</span>
                <field-error message="{{ errors.PTypesMentor }}"></field-error>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label">Candidates View Scores?</label>
              <div class="col-sm-10">

                <div class="switch m-t-xs col-sm-2">
                  <div class="onoffswitch">
                    <input type="checkbox" checked class="onoffswitch-checkbox" id="candidates" ng-model="fields.PTypesViewScores" />
                    <label class="onoffswitch-label" for="candidates">
                      <span class="onoffswitch-inner"></span>
                      <span class="onoffswitch-switch"></span>
                    </label>
                  </div>
                </div>
                <span class="help-block m-b-none col-sm-10">Allow candidates to view portfolio scoring.</span>
                <field-error message="{{ errors.PTypesViewScores }}"></field-error>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label">Allow Sharing?</label>
              <div class="col-sm-10">

                <div class="switch m-t-xs col-sm-2">
                  <div class="onoffswitch">
                    <input type="checkbox" class="onoffswitch-checkbox" id="sharing" ng-model="fields.PTypesSharing" />
                    <label class="onoffswitch-label" for="sharing">
                      <span class="onoffswitch-inner"></span>
                      <span class="onoffswitch-switch"></span>
                    </label>
                  </div>
                </div>
                <span class="help-block m-b-none col-sm-10">Allow candidates to share their portfolio publicly.</span>
                <field-error message="{{ errors.PTypesSharing }}"></field-error>
              </div>
            </div>
            <hr />
            <h3>Artifact Questions &amp; Prompts</h3>
            <div class="form-group">
              <label class="col-sm-2 control-label">Minimum Required</label>
              <div class="col-sm-10">
                <div class="col-sm-2">
                  <input type="text" id="minnum" class="form-control" ng-model="fields.PTypesMinimumPrompts" placeholder="0" />
                </div>
                <span class="help-block m-b-none col-sm-10"><label for = "minnum">Minimum number of artifact questions or prompts that must be answered for an artifact to be complete.</label></span>
                <field-error message="{{ errors.PTypesMinimumPrompts }}"></field-error>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label">Allow Video Response?</label>
              <div class="col-sm-10">

                <div class="switch m-t-xs col-sm-2">
                  <div class="onoffswitch">
                    <input type="checkbox" class="onoffswitch-checkbox" id="allow-video" ng-model="fields.PTypesAllowVideo" />
                    <label class="onoffswitch-label" for="allow-video">
                      <span class="onoffswitch-inner"></span>
                      <span class="onoffswitch-switch"></span>
                    </label>
                  </div>
                </div>
                <span class="help-block m-b-none col-sm-10">Allow candidates to upload a video response to questions &amp; prompts.<br />
                <i class="fa fa-warning text-danger"></i> <strong>Warning!</strong> This will override any required prompts and the minimum number of answers setting above.</span>
                <field-error message="{{ errors.PTypesSharing }}"></field-error>
              </div>
            </div>

            <hr />
            <h3>Portfolio Governance Statements</h3>
            <div class="form-group">
              <label class="col-sm-2 control-label">For Candidates</label>
              <div class="col-sm-10" role = "group" aria-label="Portfolio Governance Statements for Candidates">
                <text-angular ng-model="fields.PTypesGovernanceCandidate"></text-angular>
                <!--
                <textarea rows="5" class="form-control" ng-model="fields.PTypesGovernanceCandidate"></textarea>
              -->
                <field-error message="{{ errors.PTypesGovernanceCandidate }}"></field-error>
                <span class="help-block m-b-none col-sm-10">
                  Candidates must positively affirm this content prior to submitting their portfolio for review.
                </span>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label">For Reviewers</label>
              <div class="col-sm-10" role = "group" aria-label="Portfolio Governance Statements for Reviewers">
                <text-angular ng-model="fields.PTypesGovernanceReviewer"></text-angular>

                <!--
                <textarea rows="5" class="form-control" ng-model="fields.PTypesGovernanceReviewer"></textarea>
                -->

                <field-error message="{{ errors.PTypesGovernanceReviewer }}"></field-error>
                <span class="help-block m-b-none col-sm-10">
                  Reviewers must positively affirm this content prior to beginning a portfolio review.
                </span>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label">For Mentors</label>
              <div class="col-sm-10" role = "group" aria-label="Portfolio Governance Statements for Mentors">
                <text-angular  ng-model="fields.PTypesGovernanceMentor"></text-angular>

                <!--
                <textarea rows="5" class="form-control" ng-model="fields.PTypesGovernanceMentor"></textarea>
                -->
                
                <field-error message="{{ errors.PTypesGovernanceMentor }}"></field-error>
                <span class="help-block m-b-none col-sm-10">
                  Mentors must positively affirm this content prior to beginning a mentoring relationship with the candidate.
                </span>
              </div>
            </div>

            <div class="form-group">
              <div class="col-lg-2 m-t"></div>
              <div class="col-lg-10 m-t">
                <a href="/portfolio-types/portfolio-manager" class="btn btn-white">Cancel</a>
                <button class="btn btn-primary">Save</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    </form>

</div>
<div class="spacer-bottom"></div>
