<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h1>View Portfolio Type <span class="text-info" ng-bind="ptype.PTypesTitle"></span></h1>
    <ol class="breadcrumb">
      <li><a href="/portfolio-types/portfolio-manager">Portfolio Type Manager</a></li>
      <li><a href="/portfolio-types/portfolio-view/{{ ptype.PTypesId }}">{{ ptype.PTypesTitle }}</a></li>
      <li class="active"><strong>Portfolio Members</strong></li>
    </ol>
  </div>
  <div class="col-lg-2"></div>
</div>

<div class="row wrapper wrapper-content animated" style="padding: 6px;">
  <div class="col-sm-12" ng-controller="PortfolioTypeViewUsersCtrl">

    <!-- Candidate, Mentor, Reviewer panel -->
    <div class="tabs-container">
      <uib-tabset>
        <uib-tab active="tabCandidates.active" ng-click="activeTab()">
          <uib-tab-heading>
            <i class="fa fa-mortar-board"></i> Candidates</span>
          </uib-tab-heading>
          <div ng-include="'app/views/portfolio-types/templates/tpl-portfolio-view-candidates.html'" ng-init=""></div>
        </uib-tab>

        <uib-tab active="tabMentors.active" ng-click="activeTab()" ng-show="ptype.PTypesMentor == 'Yes'">
          <uib-tab-heading>
            <i class="fa fa-users"></i> Mentors</span>
          </uib-tab-heading>
          <div ng-include="'app/views/portfolio-types/templates/tpl-portfolio-view-mentors.html'" ng-init=""></div>
        </uib-tab>

        <uib-tab active="tabReviewers.active" ng-click="activeTab()">
          <uib-tab-heading>
            <i class="fa fa-check"></i> Reviewers</span>
          </uib-tab-heading>
          <div ng-include="'app/views/portfolio-types/templates/tpl-portfolio-view-reviewers.html'"></div>
        </uib-tab>
      </uib-tabset>
    </div>

  </div>
  <!-- End Candidate, Mentor, Reviewer panels -->

</div>
<div class="spacer-bottom"></div>
