<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h1>Portfolio Type Manager: Dashboard</h1>
  </div>
  <div class="col-lg-2">
    <a href="/portfolio-types/portfolio-add-edit" class="btn btn-block btn-outline btn-primary m-t-md">Create Portfolio Type</a>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">

    <!-- Portfolios for this account repeater - should put this in a partial template -->
    <div class="col-lg-4 repeat-item" ng-repeat="row in ptypes">
      <div class="ibox">
        <div class="ibox-title">
          <!-- Button group -->
          <h2>
            <a href="/portfolio-types/portfolio-view/{{ row.PTypesId }}" title="{{ row.PTypesTitle }}">
              {{ row.PTypesTitle | limitTo: 30 }}{{row.PTypesTitle.length > 40 ? '&hellip;' : ''}}
            </a></h2>
        </div>

        <div class="ibox-content">
          <div ng-include="'app/views/portfolio-types/templates/tpl-portfolio-view-stats.html'" ng-controller="PortfolioTypeViewStatsCtrl" ng-init="get_ptype_stats( row.PTypesId )">
        </div>
      </div>
    </div>
    <!-- End portfolios repeater -->

  </div>
</div>
<div class="spacer-bottom"></div>
