<div ng-include="'app/views/portfolio-types/templates/tpl-header.html'"></div>

<div class="row wrapper wrapper-content animated fadeInRight" style="padding: 6px;">
  <div class="form-horizontal" ng-controller="PortfolioStandardsCompetenciesCtrl">

    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h1>Standards and Competencies</h1>
        <small></small>
      </div>
      <div class="ibox-content">
        <div class="form-group">
            <div class="col-sm-6">

              <!-- New standard -->
              <form ng-submit="new_standard_submit()">
                <div class="input-group m-b">
                  <input type="text" class="form-control" placeholder="Add new standard" ng-model="new_standard" />
                  <field-error message="{{ errors.StandardsTitle }}"></field-error>
                  <span class="input-group-btn">
                    <a href="" ng-click="new_standard_submit()" class="btn btn-primary"><i class="fa fa-plus"></i></a>
                  </span>
                </div>
                <div class="hr-line-dashed"></div>
              </form>

              <!-- Standards repeater -->
              <div ng-model="standards" id="standards-container" as-sortable="sortableOptionsStandards">
                <div class="input-group" ng-repeat="row in standards" as-sortable-item>

                  <!-- Drag handle -->
                  <span class="draghandle-field" as-sortable-item-handle title="Drag to Reorder"></span>

                  <input type="text" key-bind="{ enter: 'update_standards(row)', tab: 'update_standards(row)' }" class="form-control" style="width: 75%;" ng-model="row.StandardsTitle" />
                  <field-error message="{{ row.StandardsTitle_error }}"></field-error>
                  <span class="input-group-btn">
                    <a href ng-click="set_active_competency(row)" class="btn btn-default" title="View competencies"><i class="fa fa-list"></i></a>
                    <a href ng-click="update_standards(row)" class="btn btn-primary" title="Save entry"><i class="fa fa-check"></i></a>
                    <a href ng-click="standard_delete(row)" class="btn btn-danger" title="Delete this standard"><i class="fa fa-close"></i></a>
                  </span>
                </div>
              </div>
              <!-- End Standards repeater -->

            </div>

            <div class="col-sm-6" ng-show="active_competency">
              <div class="panel panel-info">
                <div class="panel-heading">
                  <h2 class="panel-title"><i class="fa fa-list"></i> <span ng-bind="active_competency.StandardsTitle"></span> Competencies</h2>
                </div>
                <div class="panel-body">

                  <!-- New competency -->
                  <form ng-submit="add_competency()">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Add new competency to {{ active_competency.StandardsTitle }}" ng-model="new_competency" />
                      <field-error message="{{ new_competencies_error }}"></field-error>
                      <span class="input-group-btn">
                        <a href="" ng-click="add_competency()" class="btn btn-primary"><i class="fa fa-plus"></i></a>
                      </span>
                    </div>
                    <div class="hr-line-dashed"></div>
                  </form>

                  <!-- Competency repeater -->
                  <div ng-model="competencies" id="comp-container" as-sortable="sortableOptionsComp">
                    <div class="input-group" as-sortable-item ng-repeat="row in competencies">

                      <!-- Drag handle -->
                      <span class="draghandle-field" as-sortable-item-handle title="Drag to Reporder"></span>

                      <input type="text" key-bind="{ enter: 'update_competency(row)', tab: 'update_competency(row)' }" class="form-control" style="width: 75%;" ng-model="row.CompetenciesTitle" />
                      <field-error message="{{ row.CompetenciesTitle_error }}"></field-error>
                      <span class="input-group-btn">
                        <a href="" ng-click="update_competency(row)" class="btn btn-primary" title="Save entry"><i class="fa fa-check"></i></a>
                        <a href="" ng-click="competency_delete(row)" class="btn btn-danger" title="Delete this competency"><i class="fa fa-close"></i></a>
                      </span>
                    </div>
                  </div>
                  <!-- End Standards repeater -->

                </div>
              </div>
            </div>

          </div> <!-- End form-group -->
        </div> <!-- End ibox-content -->
      </div> <!-- End ibox -->

    </div>

</div>
<div class="spacer-bottom"></div>
