<div class="ibox float-e-margins">
  <div class="tabs-container">
    <uib-tabset>
      <uib-tab>
        <uib-tab-heading>
          <i class="fa fa-comment"></i> Messages <span ng-show="messages_unread > 0" class="badge badge-danger">{{ messages_unread }}</span>
        </uib-tab-heading>
        <div ng-include="'app/views/common/templates/tpl-messages.html'"></div>
      </uib-tab>

      <uib-tab>
        <uib-tab-heading>
          <i class="fa fa-bell"></i> Notifications <span ng-show="new_notifications > 0" class="badge badge-danger">{{ new_notifications }}</span>
        </uib-tab-heading>
        <div ng-include="'app/views/common/templates/tpl-notifications.html'"></div>
      </uib-tab>
    </uib-tabset>
  </div>

</div>
