<nav  ng-class="{'pdf-controls fixed': scroll > 100, 'pdf-controls': scroll <= 100}">
  <button ng-click="goPrevious()"><</span></button>
  <button ng-click="goNext()">></span></button>

  <button ng-click="zoomIn()">+</span></button>
  <button ng-click="fit()">100%</span></button>
  <button ng-click="zoomOut()">-</span></button>

  <button ng-click="rotate()">90</span></button>

  <span>Page: </span>
  <input type="text" min=1 ng-model="pageNum">
  <span> / {{pageCount}}</span>

  &nbsp;&nbsp;
  <span>Document URL: </span>
  <input type="text" ng-model="pdfUrl">
</nav>

<hr>

{{loading}}
<canvas id="pdf" class="rotate0"></canvas>
