<div class="panel-body" ng-controller="NotificationsCtrl">
  <div class="info-panel row social-footer" style="padding: 0px;">
    <div class="social-comment m-b" ng-class="{'highlight-row-blue': me.UsersId != row.UsersId && row.NotificationsHasRead == 'No'}" style="padding: 10px; border-bottom: 1px solid #fff;" ng-repeat="row in notifications">
      <div class="media-body">
        <p><strong>{{ row.NotificationsTitle }}</strong></p>
        <p ng-bind-html="row.NotificationsBody"></p>

        <div class="row">
          <div class="col-sm-8">
            <span ng-show="me.UsersId != row.UsersId && row.NotificationsHasRead == 'No'" >
              <a href ng-click="mark_notification_read( me.UsersId, row.NotificationsId, $index )" class="small badge badge-success">Mark as read</a>
            </span>
            <small title="{{ row.NotificationsCreatedAt | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}" class="text-muted" am-time-ago="row.NotificationsCreatedAt"></small>
          </div>
        </div>
        <!--<div class="hr-line-dashed"></div>-->
      </div>
    </div>
  </div>
</div>
