<div ng-controller="PortfolioProgressCtrl" ng-init="get_progress()">
  <div class="progress">
    <div style="width: {{ portfolio_progress_percentage }}%;" class="progress-bar progress-bar-warning">{{ portfolio_progress_percentage }}% Complete</div>
  </div>

  <div>
    <a href="portfolios/aboutme/{{ portfolioid }}" ng-if="portfolio_has_about_me == 'Yes'"
        class="btn btn-primary m-b-md m-r-md">About Me</a>
    <a ng-repeat="row in portfolio_standards" href="/portfolios/artifact/{{ portfolioid }}/{{ row.StandardsId }}" ng-class="{'btn-primary': row.Completion == 'complete' , 'btn-gray': row.Completion == 'incomplete' , 'btn-success': row.Completion == 'partially-complete'}" class="btn {{ row.ButtonClass }} m-b-md m-r-md">
      <!--<i class="fa fa-check-square" ng-if="row.Completion == 'complete'"></i>-->
      <i class="checkmark" ng-class="
          {'checkmark-full': row.Completion == 'complete',
          'checkmark-half': row.Completion == 'partially-complete',
          'checkmark-empty': row.Completion == 'incomplete',
          }
        "></i>
      {{ row.StandardsTitle }}
    </a>
    <!-- Only show the Portfolio Scores button if we're a reviewer OR we're an admin OR Candidate View Scores is turned on for this portfolio AND the portfolio has been released to the candidate -->
    <a href="portfolios/scores/{{ portfolioid }}"
      ng-if="
        (portfolio.PTypesViewScores == 'Yes' && portfolio.PortfoliosStatus == 'Scored and Released to Candidate') ||
        me.IsReviewer == 'Yes' ||
        me.IsAdmin == 'Yes'
      "
      class="btn btn-primary m-b-md m-r-md">Portfolio Scores</a>
  </div>
</div>
