<div class="panel-body" ng-controller="MessagesCtrl">
  <div class="row message-recipients-container">
    <!-- IF use can select from multiple recipients... -->

    <div class="col-sm-2 m-t-xs m-b-xs">
      <button aria-label="Add Recipients" class="btn btn-primary btn-circle" ng-click="select_recipients = !select_recipients"><i class="fa fa-user-plus"></i></button>
    </div>
    <div class="col-sm-9 m-t-sm m-l m-b-sm">
      <span ng-repeat="r in selected_recips">
        {{ r.UsersName }} {{{true: '', false: ', '}[$last]}}
      </span>
    </div>
    <div class="clearfix"></div>

  </div>
  <div id="panel-messages" ng-show="select_recipients == false">
    <div class="row">
      <textarea name="messagebox" ng-model="messagebox" rows="5" class="form-control col-sm-12" aria-label="Write Your Message" placeholder="Write your message"></textarea>
      <div class="col-sm-10 m-t-xs">
        <span ng-if="has_recipients == false" class="text-danger"><i class="fa fa-warning"></i> Please select a recipient.</span>
        <span ng-if="has_message == false" class="text-danger"><i class="fa fa-warning"></i> Please enter a message.</span>
      </div>
      <div class="col-sm-2">
        <button aria-label="Send message" ng-click="send_message()" class="btn btn-primary pull-right btn-xs m-t-xs">
          <i class="fa fa-send"></i> Send</button>
      </div>
    </div>

    <!-- Messages go here -->

    <div class="info-panel row social-footer" style="padding: 0;">

      <!-- Message -->
      <div class="social-comment m-b" ng-class="{'highlight-row-blue': me.UsersId != row.UsersId && row.MessageRecipientLuHasRead == 'No'}" style="padding: 10px;" ng-repeat="row in messages">
        <a class="pull-left">
          <img alt="" class="img-circle" ng-src="{{ row.MediaUrl }}" title="{{ row.UsersFirstName }} {{ row.UsersLastName }}" />
        </a>
        <div class="media-body">
          <strong>{{ row.UsersFirstName }} {{ row.UsersLastName }}</strong> <i class="fa fa-angle-right"></i> <span class="text-info">{{ row.MessagesToString }}</span>
          <p ng-if="row.Artifact">
            <strong>
              <a href="/portfolios/artifact/{{ row.Artifact.ArtifactsPortfolioId }}/{{ row.Artifact.ArtifactsStandardId }}/{{ row.Artifact.ArtifactsId }}">{{ row.Artifact.ArtifactsTitle }}</a>
            </strong>
          </p>
          <p ng-bind-html="row.MessagesBody | linky"></p>
          <div class="row">
            <div class="col-sm-8">
              <span ng-show="me.UsersId != row.UsersId && row.MessageRecipientLuHasRead == 'No'" >
                <a href ng-click="mark_message_read( me.UsersId, row.MessagesId, $index )" class="small badge badge-success">Mark as read</a>
              </span>
              <small title="{{ row.MessagesCreatedAt | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}" class="text-muted" am-time-ago="row.MessagesCreatedAt"></small>
            </div>
            <div ng-show="me.UsersId != row.UsersId" class="col-sm-4">
              <a href class="btn btn-xs btn-white" ng-show="row.Replies.length == 0" ng-click="show_reply_box = ! show_reply_box">
                <i class="fa fa-mail-reply"></i> Reply</a>
            </div>
          </div>

          <!-- Replies go here -->
          <div class="social-comment m-b" ng-repeat="r in row.Replies" style="margin-left: 0;">
            <a class="pull-left">
              <img alt="" class="img-circle" ng-src="{{ r.MediaUrl }}" title="{{ r.UsersFirstName }} {{ r.UsersLastName }}" />
            </a>
            <div class="media-body">
              <strong>{{ r.UsersFirstName }} {{ r.UsersLastName }}</strong>
              <span ng-bind-html="r.MessagesBody | linky"></span>
            </div>
            <div class="clearfix"></div>
          </div>
          <!-- End Replies -->

          <!-- Reply box -->
          <div class="social-comment" ng-show="show_reply_box || row.Replies.length > 0" style="margin-left: 0;">
            <a href class="pull-left">
              <img alt="" class="img-circle" ng-src="{{ me.MediaUrl }}" title="{{ me.UsersFirstName }} {{ me.UsersLastName }}" />
            </a>
            <div class="media-body">
              <textarea aria-label = "Write your reply" ng-model="replybox[$index]" class="form-control" placeholder="Write a reply..."></textarea>
            </div>
            <a href class="pull-right m-t-sm" ng-click="send_reply(row.MessagesId, $index, row)">
                <i class="fa fa-send"></i> Send</a>
          </div>
          <!-- End reply box -->

        </div>
      </div>

      <!-- End Message -->

    </div>

    <!-- End messages -->
  </div>

  <!-- Recipients Panel -->
  <div id="panel-recipients" ng-show="select_recipients == true">
    <input type="text" aria-label="Search Recipients" class="form-control" placeholder="Search users" ng-model="search" />

    <div id="panel-recipients-people">
      <table class="table table-striped table-hover">
        <tbody>
          <tr ng-repeat="row in recips | filter:search" ng-click="update_recip_selection($event, row)" id="msgs_row{{$index}}">
            <td class="col-sm-1">
              <div class="checkbox checkbox-info">
                <input type="checkbox" name="selected_recips"
                       id="select-recip{{$index}}"
                       ng-model="row.selected"
                       class="toggle-row-class"
                       aria-label="Select {{row.UsersFirstName}} {{row.UsersLastName}} as a recipient"
                       ng-click="update_recip_selection($event, row)"/>
                       <!-- TODO: Hide label off-screen -->
                <label for="select-recip{{$index}}" class="checkbox-label">Select {{row.UsersFirstName}} {{row.UsersLastName}} as a recipient</label>
              </div>
            </td>
            <td class="col-sm-1">
              <img alt="Profile picture for {{ row.UsersFirstName }} {{ row.UsersLastName }}" style="width: 32px;" class="img-circle" ng-src="{{ row.MediaUrl }}" title="{{ row.UsersFirstName }} {{ row.UsersLastName }}" />
            </td>
            <td class="col-sm-10">
              <p>{{ row.UsersFirstName }} {{ row.UsersLastName }}</p>
              <span ng-if="row.RecipientType == 'Candidate'" class="label label-primary">Candidate</span>
              <span ng-if="row.RecipientType == 'Mentor'" class="label label-info">Mentor</span>
              <span ng-if="row.RecipientType == 'Reviewer'" class="label label-warning">Reviewer</span>
              <span ng-if="row.RecipientType == 'Admin'" class="label label-success">Admin</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <a class="btn btn-default btn-sm m-t-xs" ng-click="select_recipients = !select_recipients">Cancel</a>
      <a class="btn btn-primary btn-sm m-t-xs" ng-click="save_recipients()">Select</a>
    </div>
  </div>
</div>
