<div class="footer fixed footer-danger"
  ng-if="me.BaseAdmin > 0 && me.BaseAdmin != me.UsersId">
  <span>You are masquerading as another user. Please be careful!</span>
  <a href ng-click="go_to_user_account(me.BaseAdmin)" class="m-l btn btn-sm btn-white">Return to your account</a>
</div>
<div class="footer">
  <div>
      <strong>Venture</strong> is a product of the <a href="https://nationaldb.org" target="_blank">National Center on Deaf-blindness</a> and <a href="http://triwou.org" target="_blank">The Research Institute</a> at <a href="http://www.wou.edu" target="_blank">Western Oregon University.</a>
  </div>
  <hr />
  <div>
    <div class="col-sm-3 footer-logos" title="OSEP, NCDB, PAR2A Center Logos"></div>
    <div class="col-sm-8">
      <small>The contents of this website were developed under a grant from the U.S. Department of Education #H326T130013. However, those contents do not necessarily represent the policy of The Research Institute, nor the US Department of Education, and you should not assume endorsement by the Federal Government. Project Officer, Jo Ann McCann.</small>
    </div>
  </div>
</div>
