<!-- Might want to remove this file - we opted for topnav instead -->
<!-- Also, all the template files could probably be removed too -->
<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
      <div ng-include="'app/views/common/menus/menu-user.html'"></div>
      <div ng-include="'app/views/common/menus/menu-candidate.html'"></div>
      <div ng-include="'app/views/common/menus/menu-mentor.html'"></div>
      <div ng-include="'app/views/common/menus/menu-reviewer.html'"></div>
      <div ng-include="'app/views/common/menus/menu-account-owner.html'"></div>
      <div ng-include="'app/views/common/menus/menu-admin.html'"></div>

      <li>
        <a href="/help">
          <i class="fa fa-envelope"></i> <span class="nav-label">Help and Tutorials</span>
        </a>
      </li>
    

  </div>
</nav>
