<div class="row border-bottom white-bg">
  <nav class="navbar navbar-static-top" role="navigation">
    <div class="navbar-header col-sm-2" style="overflow-x: hidden;">
      <a href="/dashboard" aria-label="Venture Logo" class="navbar-brand"></a>
    </div>
    <div class="navbar-collapse collapse" id="navbar" ng-controller="TopNavCtrl">
      <ul class="nav navbar-nav">
        <li><a href="/dashboard">Dashboard</a></li>
        <li ng-if="me.IsCandidate == 'Yes' && me.Portfolios.length > 0" class="dropdown" uib-dropdown>
          <a class="dropdown-toggle" href uib-dropdown-toggle> My Portfolios <span class="caret"></span></a>
          <ul role="menu" class="dropdown-menu">
            <li ng-repeat="p in me.Portfolios"><a href="/portfolios/overview/{{ p.PortfoliosId }}">{{ p.PTypesTitle }}</a></li>
          </ul>
        </li>
        <li ng-if="me.IsAdmin == 'Yes'" class="dropdown" uib-dropdown>
          <a href class="dropdown-toggle" uib-dropdown-toggle>Portfolio Type Manager <span class="caret"></span>
          </a>
          <ul role="menu" class="dropdown-menu">
            <li><a href="/portfolio-types/portfolio-manager"><i class="fa fa-dashboard"></i> Portfolio Type Dashboard</a></li>
            <li><a href="/portfolio-types/portfolio-add-edit"><i class="fa fa-plus"></i> Create New Portfolio Type</a></li>
            <li class="divider"></li>
            <li ng-repeat="p in account.PTypes">
              <a href="/portfolio-types/portfolio-view/{{ p.PTypesId }}">{{ p.PTypesTitle }}</a>
            </li>
          </ul>
        </li>
        <li ng-if="me.IsAdmin == 'Yes'"><a href="/users">Users</a></li>
        <li class="dropdown" uib-dropdown>
          <a href class="dropdown-toggle" uib-dropdown-toggle>Help &amp; Tutorials <span class="caret"></span></a>
          <ul role="menu" class="dropdown-menu">
            <li>
              <a href="/help">Contact Venture Support</a>
            </li>
            <li ng-if="me.IsAdmin == 'Yes' || me.IsReviewer == 'Yes'">
              <a href="/help/reviewer-training">Reviewer Training Page</a>
            </li>
          </ul>
        </li>
      </ul>
      <!-- End navbar-nav -->

      <ul class="nav navbar-right" style="width: 200px; margin-top: 6px;">
        <li class="dropdown" uib-dropdown style="float: left;">
          <a class="dropdown-toggle" href uib-dropdown-toggle style="padding: 0;">
            <img alt="" style="width: 32px; margin-top: 3px;" class="img-circle" ng-src="{{ me.MediaUrl }}" title="{{ me.UsersFirstName }} {{ me.UsersLastName }}" />
          </a>
          <ul role="menu" class="dropdown-menu">
            <li><a href="/users/profile/{{ me.UsersId }}">My Profile</a></li>
            <li class="divider"></li>
            <li><a href="/logout" target="_self">Logout</a></li>
          </ul>
        </li>
        <li style="float: right;">
          <span class="clear">
            <span class="block m-t-xs">
              <strong class="font-bold">{{ me.UsersFirstName }} {{ me.UsersLastName }}</strong>
            </span>
            <span class="text-muted block" style="width: 160px;"><small>{{ user_type_string }}</small></span>
        </li>
      </ul>
    </div>
  </nav>
</div>
