<!-- Portfolios Reviews Completed Panel -->
<div class="ibox">
  <div class="ibox-title"><h3><i class="fa fa-check"></i> &nbsp;Portfolio Reviews Completed</h3></div>
  <div class="ibox-content">
    <div>
      <div class="feed-activity-list">
        <div class="feed-element" ng-repeat="row in portfolios">
          <div class="col-sm-8">
            <img alt="image" class="img-circle pull-left m-r" ng-src="{{ row.MediaUrl }}" title="{{ row.UsersFirstName }} {{ row.UsersLastName }}" />
            <div class="media-body">
              <a href="/portfolio-types/portfolio-people/{{ row.PTypesId }}/candidate/{{ row.UsersId }}"><strong>{{ row.UsersFirstName }} {{ row.UsersLastName }}</strong></a><br  />
              <small>Completed {{ row.PortfoliosUpdatedAt | dateToISO | date:'MMM d, yyyy' }}</small>
            </div>
          </div>
          <div class="col-sm-4">
            <a href="/portfolios/aboutme/{{ row.PortfoliosId }}" class="btn btn-sm btn-white">View Portfolio</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
