<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h1>{{ header.page_title }}</h1>
    <ol class="breadcrumb">
      <li>
          <a href="/portfolio-types/portfolio-manager">Portfolio Type Manager</a>
      </li>
      <li ng-show="header.ptype_id">
          <a href="/portfolio-types/portfolio-view/{{ header.ptype_id }}">{{ header.ptype_title }}</a>
      </li>
      <li class="active">
          <strong>{{ header.page_title }}</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2"> </div>
</div>
