<div class="ibox">
  <div class="ibox-title"><h3><i class="fa fa-warning"></i> &nbsp;Alerts (incomplete)</h3></div>
  <div class="ibox-content">
    <div>
      <div class="feed-activity-list">

        <div class="feed-element">
          <small class="pull-right">5 minutes ago</small>
          <img src="https://ourventure.org/app/images/a4.jpg" class="img-circle pull-left">
          <div class="media-body">
            Jeff's portfolio has not been scored.
          </div>
        </div>
        <div class="feed-element">
          <small class="pull-right">Yesterday</small>
          <img src="https://ourventure.org/app/images/a4.jpg" class="img-circle pull-left">
          <div class="media-body">
            Jeff has not started his portfolio.
          </div>
        </div>
        <div class="feed-element">
          <small class="pull-right">2 weeks ago</small>
          <img src="https://ourventure.org/app/images/a4.jpg" class="img-circle pull-left">
          <div class="media-body">
            Jeff has not been assigned a mentor.
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
