<!-- Mentors -->
<div class="col-sm-8 white-bg">
  <div class="ibox">
    <div class="ibox-title">
      <div class="col-sm-6">
        <input type="text" ng-model="querymentors" class="form-control" placeholder="Search mentors" />
      </div>
      <div class="col-sm-4"></div>
      <div class="col-sm-2">
        <button ng-controller="ModalUserSelectCtrl" ng-click="open('mentors', ptype_id, 'Select mentors for this portfolio', 1)" class="btn btn-xs btn-primary">Select Mentors</button>
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="alert alert-info" ng-show="!has_mentors">
      There are not any Mentors selected for this portfolio type.
    </div>

    <div class="table-responsive m-t">
      <table class="table table-striped table-hover">
        <tbody>
          <tr ng-repeat="row in mentors | filter: querymentors" class="repeat-item">
            <td class="feed-element">
              <img alt="image" class="img-circle" ng-src="{{ row.MediaUrl }}" title="{{ row.UsersFirstName }} {{ row.UsersLastName }}" />
            </td>
            <td>
              <a href ng-click="client_show(row)"><strong>{{ row.UsersFirstName }} {{ row.UsersLastName }}</strong>
              </a>
              <small class="muted">{{ row.UsersInstitution }}</small>
              <small class="muted" ng-if="row.UsersState">, {{ row.UsersState }}</small><br />
              <i class="fa fa-envelope"></i> <a href="mailto:{{ row.UsersEmail }}">{{ row.UsersEmail }}</a>
            </td>
            <td class="col-sm-2">
              <div class="btn-group pull-right" uib-dropdown>
                <button type="button" class="btn btn-white btn-sm dropdown-toggle" uib-dropdown-toggle>
                    Menu <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <a href ng-click="go_to_user_account(row.UsersId)">
                      <i class="fa fa-user-secret"></i> Masquerade as this user
                    </a>
                  </li>
                  <li>
                    <a href="/users/edit/{{row.UsersId}}">
                      <i class="fa fa-pencil"></i> Edit this user
                    </a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href ng-controller="ModalRemoveCtrl" ng-click="open(row.UsersId, 'mentor', ptype_id, $index)">
                      <span class="text-danger">
                        <i class="fa fa-minus-circle"></i> Remove this mentor
                      </span>
                    </a>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Bottom spacer to accommodate menu in last row -->
      <div  style="height: 250px;"></div>
    </div> <!-- End table-responsive -->

  </div> <!-- End ibox -->
</div> <!-- End col-sm-8 -->

<!-- User View Panel -->
<div class="col-sm-4 panel-right" sticky>
  <div ng-include="'app/views/common/templates/user-detail/tpl-mentor-details.html'"></div>
</div>
