<!-- Candidates -->
<div class="col-sm-8 white-bg">
  <div class="ibox">
    <div class="ibox-title">
      <div class="col-sm-6">
        <input type="text" ng-model="querycandidates" class="form-control" placeholder="Search candidates" />
      </div>
      <div class="col-sm-4">
        <select ng-model="filterportfolios.PortfoliosStatus" class="form-control">
          <option value="">Filter Portfolio Status</option>
          <option value="">All Portfolios</option>
          <option value="Not Started">Not Started</option>
          <option value="In Progress">In Progress</option>
          <option value="Completed">Completed</option>
          <option value="Submitted for Review">Submitted for Review</option>
          <option value="In Review">In Review</option>
          <option value="Scored">Scored</option>
          <option value="Scored and Released to Candidate">Scored and Released to Candidate</option>
          <option value="Inactive">Inactive</option>
        </select>
      </div>
      <div class="col-sm-2">
        <button ng-controller="ModalUserSelectCtrl" ng-click="open('candidates', ptype_id, 'Select candidates for this portfolio')" class="btn btn-xs btn-primary">Select Candidates</button>
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="alert alert-info" ng-show="!has_candidates">
      There are not any Candidates selected for this portfolio type.
    </div>

    <div class="table-responsive m-t">
      <table class="table table-striped table-hover">
        <tbody>
          <tr ng-repeat="row in candidates | filter: querycandidates | filter: filterportfolios" class="repeat-item">
            <td class="feed-element">
              <img alt="image" class="img-circle" ng-src="{{ row.MediaUrl }}" title="{{ row.UsersFirstName }} {{ row.UsersLastName }}" />
            </td>
            <td>
              <a href ng-click="client_show(row)"><strong>{{ row.UsersFirstName }} {{ row.UsersLastName }}</strong>
              </a>
              <small class="muted">{{ row.UsersInstitution }}</small>
              <small class="muted" ng-if="row.UsersState">, {{ row.UsersState }}</small><br />
              <i class="fa fa-envelope"></i> <a href="mailto:{{ row.UsersEmail }}">{{ row.UsersEmail }}</a>
            </td>
            <td>
              <span>
                <small class="text-muted">{{ row.PortfoliosStatus }} {{ row.PortfoliosCompletionPercentage }}% Complete</small>
              </span>
              <div class="progress progress-mini">
                <div style="width: {{ row.PortfoliosCompletionPercentage }}%;" class="progress-bar progress-bar-info"></div>
              </div>
            </td>
            <td class="col-sm-2">
              <div class="btn-group pull-right" uib-dropdown>
                <button type="button" class="btn btn-white btn-sm dropdown-toggle" uib-dropdown-toggle>
                    Menu <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <a href="/portfolios/aboutme/{{ row.PortfoliosId }}">
                      <i class="fa fa-folder-open"></i> View candidate portfolio
                    </a>
                  </li>
                  <li>
                    <a href ng-controller="ModalAssignPeopleToCandidateCtrl" ng-click="open(ptype_id, row.UsersId, row.PortfoliosId)">
                      <i class="fa fa-user-plus"></i> Assign mentors &amp; reviewers
                    </a>
                  </li>
                  <li>
                    <a href ng-click="go_to_user_account(row.UsersId)">
                      <i class="fa fa-user-secret"></i> Masquerade as this user
                    </a>
                  </li>
                  <li>
                    <a href="/users/edit/{{row.UsersId}}">
                      <i class="fa fa-pencil"></i> Edit this user
                    </a>
                  </li>
                  <!-- Removed ng-if="row.PortfoliosStatus == 'Submitted for Review'" Just let admins always have access to this link. -->
                  <li>
                    <a href 
                      ng-controller="ModalReopenForEditingCtrl"
                      ng-click="open(row.PortfoliosId)"
                      ng-click="reopen_portfolio(row.PortfoliosId)"
                    >
                      <i class="fa fa-folder-open"></i> Reopen portfolio for editing
                    </a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href ng-controller="ModalRemoveCtrl" ng-click="open(row.UsersId, 'candidate', row.PortfoliosId, $index)">
                      <span class="text-danger">
                        <i class="fa fa-minus-circle"></i> Remove this candidate
                      </span>
                    </a>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Bottom spacer to accommodate menu in last row -->
      <div  style="height: 250px;"></div>
    </div> <!-- End table-responsive -->

  </div> <!-- End ibox -->
</div> <!-- End col-sm-8 -->

<!-- User View Panel -->
<div class="col-sm-4 panel-right" sticky>
  <div ng-include="'app/views/common/templates/user-detail/tpl-candidate-details.html'"></div>
</div>
