<div class="ibox">
  <div class="ibox-title"><h2><i class="fa fa-bars"></i> &nbsp;Menu</h2></div>
  <div class="ibox-content">
    <a href="/portfolio-types/portfolio-people/{{ ptype.PTypesId }}" type="button" class="btn btn-primary btn-block btn-outline">
      <i class="fa fa-user"></i> &nbsp;Assign and Update Members
    </a>
    <a href="/portfolio-types/portfolio-add-edit/{{ ptype.PTypesId }}" type="button" class="m-t btn btn-primary btn-block btn-outline">
      <i class="fa fa-info-circle"></i> &nbsp;Portfolio Information &amp; Settings
    </a>
    <a href="/portfolio-types/standards-competencies-add-edit/{{ ptype.PTypesId }}" type="button" class="m-t btn btn-primary btn-block btn-outline">
      <i class="fa fa-list-ul"></i> &nbsp;Standards &amp; Competencies
    </a>
    <a href="/portfolio-types/artifact-elements-add-edit/{{ ptype.PTypesId }}" type="button" class="m-t btn btn-primary btn-block btn-outline">
      <i class="fa fa-question-circle"></i> &nbsp;Artifact Questions &amp; Prompts
    </a>
    <a href="/portfolio-types/candidate-resume-add-edit/{{ ptype.PTypesId }}" type="button" class="m-t btn btn-primary btn-block btn-outline">
      <i class="fa fa-file-text"></i> &nbsp;Candidate Resume
    </a>
    <!--
    <a href="/portfolio-types/assign-support/{{ ptype.PTypesId }}" type="button" class="m-t btn btn-primary btn-block btn-outline">
      <i class="fa fa-question-circle"></i> &nbsp;Assign Support Users
    </a>
    -->
    <hr />
    <div class="m-t-lg">
      <a href ng-controller="ModalDeleteCtrl" ng-click="open('portfolio type', ptype.PTypesId)" type="button" class="btn btn-danger btn-block">
        <i class="fa fa-close"></i> &nbsp;Delete Portfolio Type
      </a>
    </div>
  </div>
</div>
