<div class="ibox">
  <div class="ibox-title"><h3><i class="fa fa-bar-chart"></i> &nbsp;Statistics</h3></div>
  <div class="ibox-content">
    <div class="row">
      <h4 class="col-sm-6"><a href="/portfolio-types/portfolio-people/{{ data.PTypesId }}">Candidates: {{ data.Candidates }}</a></h4>
      <h4 class="text-info col-sm-6">Average Score: {{ data.AverageScore }}%</h4>
    </div>
    <p class="m-t">In progress ({{ data.InProgress }})</p>
    <div class="progress progress-mini">
      <div style="width: {{ data.InProgressPercentage }}%;" class="progress-bar progress-bar-info"></div>
    </div>

    <p class="m-t">Ready for review ({{ data.ReadyForReview }})</p>
    <div class="progress progress-mini">
      <div style="width: {{ data.ReadyForReviewPercentage }}%;" class="progress-bar progress-bar-primary"></div>
    </div>

    <p class="m-t">In review ({{ data.InReview }})</p>
    <div class="progress progress-mini">
      <div style="width: {{ data.InReviewPercentage }}%;" class="progress-bar progress-bar-warning"></div>
    </div>

    <p class="m-t">Scored ({{ data.Scored }})</p>
    <div class="progress progress-mini">
      <div style="width: {{ data.ScoredPercentage }}%;" class="progress-bar progress-bar-success"></div>
    </div>
  </div>
</div>    
