<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h1>Your Dashboard </h1>
  </div>
  <div class="col-lg-2"></div>
</div>

<div class="row wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-sm-8">

      <!-- PORTFOLIOS -->

      <div class="ibox">
        <div class="ibox-title">
          <h2>Your Portfolios</h2>
        </div>
        <div class="ibox-content">

          <!-- Portfolio Repeater-->
          <div class="border-bottom m-b-xl" ng-show="has_portfolios"  ng-repeat="row in portfolios">
            <div ng-if="row.PortfoliosStatus != 'In Review' && row.PortfoliosStatus != 'Scored'">
              <h3 class="col-sm-6"><a href="/portfolios/overview/{{ row.PortfoliosId }}">{{ row.PTypesTitle }}</a></h3>
              <a href="/portfolios/overview/{{ row.PortfoliosId }}" class="col-sm-6 m-t-xs" style="text-align: right;">Go to portfolio table of contents <i class="fa fa-arrow-circle-right"></i></a>
              <div class="clearfix"></div>

              <!-- Portfolio progress template -->
              <div ng-controller="PortfolioProgressCtrl" ng-include="'app/views/common/templates/tpl-portfolio-progress.html'" ng-init="portfolioid = row.PortfoliosId"></div>
            </div>
            <div class="alert alert-info" ng-if="row.PortfoliosStatus == 'In Review' || row.PortfoliosStatus == 'Scored'">
              Your <strong>{{ row.PTypesTitle }}</strong> portfolio is currently being reviewed. You will be able to view your portfolio again once the review process is completed.
            </div>
          </div>

          <!-- End Portfolio Repeater -->

          <div class="alert alert-info" ng-show="!has_portfolios">
            You don't have any portfolios assigned right now. You might want to contact the <a href="/help" class="alert-link">Account Manager</a>.
          </div>

        </div>
      </div>

      <!-- MENTORING CANDIDATES -->

      <div class="ibox" ng-if="me.IsMentor == 'Yes'">
        <div class="ibox-title">
          <h2>Candidates You Are Mentoring</h2>
        </div>
        <div class="ibox-content">

          <div class="alert alert-info" ng-show="mentor_candidates.length == 0">
            You are not mentoring any candidates right now.
          </div>

          <div class="table-responsive m-t" ng-show="mentor_candidates.length > 0">
              <table class="table table-striped table-hover">
                <tbody>
                  <tr ng-repeat="row in mentor_candidates">
                    <td class="col-sm-1 feed-element">
                      <img alt="image" class="img-circle" ng-src="{{ row.PortfolioUser.MediaUrl }}" title="{{ row.PortfolioUser.UsersFirstName }} {{ row.PortfolioUser.UsersLastName }}" />
                    </td>
                    <td class="col-sm-5" style="overflow: hidden; white-space: nowrap;">
                      {{ row.PortfolioUser.UsersFirstName }}
                      {{ row.PortfolioUser.UsersLastName }}<br />
                      <small class="muted">{{ row.PortfolioUser.UsersInstitution }}</small><br />
                      <a href="mailto:{{ row.PortfolioUser.UsersEmail }}">{{ row.PortfolioUser.UsersEmail }}</a>
                    </td>
                    <td class="col-sm-5">
                      <div class="m-t-sm">
                        {{ row.PType.PTypesTitle }}<br />
                        <span>
                          <small class="text-muted">{{ row.PortfoliosStatus }} {{ row.PortfoliosCompletionPercentage }}% Complete</small>
                        </span>
                        <div class="progress progress-mini">
                          <div style="width: {{ row.PortfoliosCompletionPercentage }}%;" class="progress-bar progress-bar-info"></div>
                        </div>
                      </div>
                    </td>
                    <td class="col-sm-1">
                      <!-- Need a governance modal here -->
                      <a href
                        ng-show="row.PType.PTypesGovernanceMentor.length > 0 && row.PortfolioUserLuGovernanceConfirmed == 'No'"
                        ng-controller="ModalGovernanceCtrl"
                        ng-click="open('Mentor', row.PortfolioUserLuUserId, row.PortfoliosId, row.PType.PTypesGovernanceMentor)"
                        class="btn btn-sm btn-white"
                      >View Portfolio</a>

                      <a
                        ng-show="row.PType.PTypesGovernanceMentor.length == 0 || row.PortfolioUserLuGovernanceConfirmed == 'Yes'"
                        href="/portfolios/aboutme/{{ row.PortfoliosId }}" class="btn btn-sm btn-white">View Portfolio</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
      </div>

      <!-- REVIEWING CANDIDATES -->

      <div class="ibox" ng-if="me.IsReviewer == 'Yes'">
        <div class="ibox-title">
          <h2 class="col-sm-8" >Candidates You Are Reviewing</h2>
          <div class="col-sm-4 text-right m-t-sm">
            <a href="/help/reviewer-training">Reviewer training page</a>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="ibox-content">

          <div class="alert alert-info" ng-show="reviewer_candidates.length == 0">
            You are not reviewing any candidate portfolios right now.
          </div>

          <div class="table-responsive m-t" ng-show="reviewer_candidates.length > 0">
              <table class="table table-striped table-hover">
                <tbody>
                  <tr ng-repeat="row in reviewer_candidates">
                    <td class="col-sm-1 feed-element">
                      <img alt="image" class="img-circle" ng-src="{{ row.PortfolioUser.MediaUrl }}" title="{{ row.PortfolioUser.UsersFirstName }} {{ row.PortfolioUser.UsersLastName }}" />
                    </td>
                    <td class="col-sm-3" style="overflow: hidden; white-space: nowrap;">
                      {{ row.PortfolioUser.UsersFirstName }}
                      {{ row.PortfolioUser.UsersLastName }}<br />
                      <small class="muted">{{ row.UsersInstitution }}</small><br />
                      <a href="mailto:{{ row.PortfolioUser.UsersEmail }}">{{ row.PortfolioUser.UsersEmail }}</a>
                    </td>
                    <td class="col-sm-3">
                      <div>
                        {{ row.PType.PTypesTitle }}<br />
                        <span>
                          <small class="text-muted">Scoring: {{ row.ScoringPercentage }}% Complete</small>
                        </span>
                        <div class="progress progress-mini">
                          <div style="width: {{ row.ScoringPercentage }}%;" class="progress-bar progress-bar-success"></div>
                        </div>
                      </div>
                    </td>
                    <td class="col-sm-5">
                      <div class="pull-right">
                        <!-- Only show the View Portfolio button if the portfolio has been submitted for review -->
                        <div
                          class="pull-left m-r"
                          ng-show="row.PortfoliosStatus == 'Submitted for Review' || row.PortfoliosStatus == 'In Review' || row.PortfoliosStatus == 'Scored'">

                          <!-- If there is a need to confirm a governance message, then provide link to modal -->
                          <a href
                            ng-show="row.PType.PTypesGovernanceReviewer.length > 0 && row.PortfolioUserLuGovernanceConfirmed == 'No'"
                            ng-controller="ModalGovernanceCtrl"
                            ng-click="open('Reviewer', row.PortfolioUserLuUserId, row.PortfoliosId, row.PType.PTypesGovernanceReviewer)"
                            class="btn btn-sm btn-white"
                          >View Portfolio</a>

                          <!-- Else just show standard link to portfolio -->
                          <a
                            ng-show="row.PType.PTypesGovernanceReviewer.length == 0 || row.PortfolioUserLuGovernanceConfirmed == 'Yes'"
                            href="/portfolios/scores/{{ row.PortfoliosId }}" class="btn btn-sm btn-white">View Portfolio</a>
                        </div>
                        <div class="pull-left">
                          <a href
                            ng-controller="ModalMarkScoringCompleteCtrl"
                            ng-click="open(row.PortfoliosId)"
                            ng-show="
                              (row.PortfoliosStatus == 'Submitted for Review' || row.PortfoliosStatus == 'In Review') &&
                                  row.PortfolioUserLuScoringComplete == 'No'
                            "
                            ng-class="{
                              'btn-primary': row.ScoringPercentage == '100',
                              'btn-white disabled': row.ScoringPercentage != '100'}"
                            class="btn btn-sm">Mark Scoring Complete</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
      </div>

    </div>

    <div class="col-sm-4">
      <!-- Messages, Notifications panel -->
      <div ng-include="'app/views/common/templates/tpl-messages-notifications.html'"></div>
    </div>
  <!-- TODO: Make 'no portfolios' screen -->
</div>
<div class="spacer-bottom"></div>
