<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Your File Manager</h2>
  </div>
  <div class="col-lg-2"></div>
</div>

<div class="row wrapper wrapper-content animated fadeInRight">
  <div class="col-lg-3">
    <div class="ibox float-e-margins">
      <div class="ibox-content">
        <div class="file-manager">

          <h5>Show:</h5>
          <a href="" class="file-control active">All files</a>
          <a href="" ng-click="show_user()" class="file-control">Documents</a>
          <a href="" class="file-control">Audio</a>
          <a href="" class="file-control">Images</a>

          <div class="hr-line-dashed"></div>
          <button class="btn btn-primary btn-block">Upload Files</button>

        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-9 animated fadeInRight">
    <div class="col-lg-12">

      <!-- File repeater -->
      <div class="file-box">
        <div class="file">
          <a href="">
            <span class="corner"></span>

            <div class="icon">
              <i class="fa fa-file"></i>
            </div>
            <div class="file-name">
              Document_2014.doc<br/>
              <small>Added: Jan 11, 2014</small>
            </div>
          </a>
        </div>
      </div>
      <!-- End file repeater :: the rest are just for show -->

      <div class="file-box">
        <div class="file">
          <a href="">
            <span class="corner"></span>

            <div class="image">
              <img alt="image" class="img-responsive" src="http://lorempixel.com/200/100/">
            </div>
            <div class="file-name">
              Document_2014.doc<br/>
              <small>Added: Jan 11, 2014</small>
            </div>
          </a>
        </div>
      </div>

      <div class="file-box">
        <div class="file">
          <a href="">
            <span class="corner"></span>

            <div class="image">
              <img alt="image" class="img-responsive" src="http://lorempixel.com/201/100/">
            </div>
            <div class="file-name">
              Document_2014.doc<br/>
              <small>Added: Jan 11, 2014</small>
            </div>
          </a>
        </div>
      </div>

      <div class="file-box">
        <div class="file">
          <a href="">
            <span class="corner"></span>

            <div class="icon">
              <i class="fa fa-film"></i>
            </div>
            <div class="file-name">
              Document_2014.doc<br/>
              <small>Added: Jan 11, 2014</small>
            </div>
          </a>
        </div>
      </div>

      <div class="file-box">
        <div class="file">
          <a href="">
            <span class="corner"></span>

            <div class="image">
              <img alt="image" class="img-responsive" src="http://lorempixel.com/203/100/">
            </div>
            <div class="file-name">
              Document_2014.doc<br/>
              <small>Added: Jan 11, 2014</small>
            </div>
          </a>
        </div>
      </div>

      <div class="file-box">
        <div class="file">
          <a href="">
            <span class="corner"></span>

            <div class="icon">
              <i class="fa fa-file"></i>
            </div>
            <div class="file-name">
              Document_2014.doc<br/>
              <small>Added: Jan 11, 2014</small>
            </div>
          </a>
        </div>
      </div>

    </div>
  </div>
</div>
