/*
 *  Custom styles for the ePortfolio app
 *  so that we don't clutter the INSPINIA style sheets.
 *
*/

/*
  Allow angular.js to be loaded in body, hiding cloaked elements until
  templates compile.  The !important is important given that there may be
  other selectors that are more specific or come later and might alter display.
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

body {
  font-size: 1.6rem;
  color: #3f4143;
}

h3 {
  line-height: 22px;
}

/* Reset focus border for main nav */
.top-navigation .nav > li > a:focus {
  outline: none;
  border-bottom: 4px solid #008856;
}

.no-border {
  border: none;
}

.btn-gray {
  color: inherit;
  background-color: #d5d5d9;
  border: 1px solid #e7eaec;
}
.btn-gray:hover,
.btn-gray:focus,
.btn-gray:active,
.btn-gray.active,
.open .dropdown-toggle.btn-gray,
.btn-gray:active:focus,
.btn-gray:active:hover,
.btn-gray.active:hover,
.btn-gray.active:focus {
  color: inherit;
  border: 1px solid #1a7bb9;
}
.btn-gray:active,
.btn-gray.active {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15) inset;
}
.btn-gray:active,
.btn-gray.active,
.open .dropdown-toggle.btn-gray {
  background-image: none;
}
.btn-gray.disabled,
.btn-gray.disabled:hover,
.btn-gray.disabled:focus,
.btn-gray.disabled:active,
.btn-gray.disabled.active,
.btn-gray[disabled],
.btn-gray[disabled]:hover,
.btn-gray[disabled]:focus,
.btn-gray[disabled]:active,
.btn-gray.active[disabled],
fieldset[disabled] .btn-gray,
fieldset[disabled] .btn-gray:hover,
fieldset[disabled] .btn-gray:focus,
fieldset[disabled] .btn-gray:active,
fieldset[disabled] .btn-gray.active {
  color: #cacaca;
}

/***** PORTFOLIO COMPLETION MARKS *****/
.checkmark {
  min-height: 25px;
  padding-left: 35px;
}
.btn .checkmark {
  padding: 2px 25px 4px 12px;
}
.checkmark-empty {
  background: url(../images/checkmark-empty.png) top left no-repeat;
}
.checkmark-half {
  background: url(../images/checkmark-half.png) top left no-repeat;
}
.checkmark-full {
  background: url(../images/checkmark-full.png) top left no-repeat;
}

.list-group-item {
  padding: 10px 0 10px 9px !important;
}

.list-group-item .checkmark {
  position: absolute;
  top: 5px;
  right: -7px;
}

/***** Portfolio Submit Success Badge *****/
.submit-success-badge {
  display: block;
  width: 244px;
  height: 244px;
  margin-left: auto;
  margin-right: auto;
  background: url(../images/submit-success-badge.png) no-repeat;
}

.container-submit-badge {
  width: 400px;
  margin: 0 auto 0 auto;
  text-align: center;
}

/***** FILE ICONS *****/
.file-icon {
  width: 36px;
  height: 48px;
  display: block;
  float: left;
  margin: 0 5px 5px 0;
}
.file-icon-pdf {
  background: url(../images/file-icons/pdf.png) left no-repeat;
}
.file-icon-doc {
  background: url(../images/file-icons/doc.png) left no-repeat;
}
.file-icon-excel {
  background: url(../images/file-icons/xls.png) left no-repeat;
}
.file-icon-jpg, .file-icon-image {
  background: url(../images/file-icons/jpg.png) left no-repeat;
}
.file-icon-txt {
  background: url(../images/file-icons/txt.png) left no-repeat;
}
.file-icon-mp3 {
  background: url(../images/file-icons/mp3.png) left no-repeat;
}
.file-icon-video {
  background: url(../images/file-icons/mov.png) left no-repeat;
}
.file-icon-gif {
  background: url(../images/file-icons/gif.png) left no-repeat;
}
.file-icon-power-point {
  background: url(../images/file-icons/ppt.png) left no-repeat;
}

div.file-box .file-icon {
  margin: none;
  width: 100%;
  background-position: center center !important;
  background-size: 54px 70px;
  opacity: .6;
}

.circle-icon {
  display: inline-block;
  float: left;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  position: relative;
  margin-right: 5px;
  margin-bottom: 5px;
  color: #fff;
}

.circle-icon.pdf {
  background-color: #cd0000;
}
.circle-icon.pdf:before {
  content: "\f1c1";
}

.circle-icon.image {
  background-color: #e48600;
}
.circle-icon.image:before {
  content: "\f1c5";
}

.circle-icon.doc {
  background-color: #007dce;
}
.circle-icon.doc:before {
  content: "\f1c2";
}

.circle-icon.power-point {
  background-color: #d354e6;
}
.circle-icon.power-point:before {
  content: "\f1c4";
}

.circle-icon.video {
  background-color: #74b8b8;
}
.circle-icon.video:before {
  margin-left: -1px;
  content: "\f16a";
}

.circle-icon.excel {
  background-color: #78ae00;
}
.circle-icon.excel:before {
  content: "\f1c3";
}

.circle-icon:before {
  font-family: FontAwesome;
  font-size: 1.1em;
  left: 6px;
  position: absolute;
  top: 2px;
}

.avatar-48 {
  width: 48px;
  height: 48px;
}

.highlight-row {
  background-color: #fffbcc !important;
}

.highlight-row-blue {
  background-color: #d9edf7 !important;
}

.clickable {
  cursor: pointer;
}

/***** SOME MESSAGES BOX STYLES *****/
.message-recipients-container {
  background-color: #2f4050;
  color: #fff;
}

/***** SOME SPECIFIC ICONS *****/
.icon-sm {
  display: inline-block;
  width: 26px;
  height: 26px;
}

.icon-md {
  display: inline-block;
  width: 32px;
  height: 32px;
}

.icon-mentor-on {
  background: url(../images/icon-mentor-success-32.png) left no-repeat;
}
.icon-reviewer-on {
  background: url(../images/icon-reviewer-primary-32.png) left no-repeat;
}
.icon-mentor-off {
  background: url(../images/icon-mentor-plain-32.png) left no-repeat;
}
.icon-reviewer-off {
  background: url(../images/icon-reviewer-plain-32.png) left no-repeat;
}

/***** Artifact Styles *****/
.artifact-document {
  border-bottom: 2px dashed #e7eaec;
  border-top: none !important;
  overflow: auto;
  padding: 0;
}

.artifact-menu-title {
  display: block;
  margin-right: 30px;
}

/***** textAngular Styles *****/
.ta-editor {
  min-height: 200px !important;
  height: 200px !important;
}

/***** File Drop Styles *****/
.file-drop-zone {
  background: #F8F8F8;
  border: 5px dashed #e7eaec;
  min-height: 85px;
  text-align: center;
  padding-top: 25px;
  border-radius: 12px;
}

.file-drop-zone-user {
  background: #F8F8F8;
  border: 5px dashed #e7eaec;
  height: 100px;
  width: 100px;
  border-radius: 50px !important;
  text-align: center;
  padding-top: 25px;
  border-radius: 12px;
  margin: 0 auto;
}

.dragover {
  border: 5px dashed #1ab394;
}

.dragover img {
  -webkit-filter: grayscale(100%);
  -webkit-filter: grayscale(1);
  filter: grayscale(100%);
  filter: gray;
  opacity: .75;

  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
}

.draghandle-field:before {
  font-family: FontAwesome;
  font-size: 25px;
  content: "\f142";
}

.draghandle-field {
  text-align: center;
  position: absolute;
  margin-left: -20px;
  display: inline-block;
  cursor: pointer;
  color: #ccc;
  width: 20px;
}

.info-panel {
  height: 600px;
  overflow: scroll;
}

#modal-files {
  max-height: 400px;
  overflow-y: scroll;
}

#modal-files div.file-box {
  width: 205px;
}

#modal-files div.file-box img {
  margin: auto;
}

#modal-files div.highlight-box {
  border: 1px solid #1ab394;
  -webkit-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.35);
  box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.35);
}

#modal-files div.file span.check {
  display: block;
  position: absolute;
  bottom: 12px;
  right: 12px;
  width: 22px;
  height: 22px;
  background: url(../images/checkmark-full.png) no-repeat;
}

#modal-files div.file-name, div.file-drop-list .file-name {
  height: 75px;
  text-overflow: clip;
  overflow: hidden;
}

#modal-files div.image {
  height: 183px;
}

/***** Some styles for forms *****/
.checkbox ul, .radio ul {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
}

.checkbox ul li, .radio ul li {
  padding-bottom: 12px;
}

.checkbox input[type="checkbox"]:disabled + label, .checkbox input[type="radio"]:disabled + label {
  opacity: 1 !important;
}

h4 {
  line-height: 20px;
}

.text {
  white-space: pre-line;
}

.navbar-brand {
  width: 218px;
  height: 50px;
  background: #fff url(../images/logo_horiz.png) no-repeat !important;
  background-position: 3px 0;
  background-size: contain !important;
  margin-right: 20px;
}

/***** TRANSITIONS *****/
/* Fade out items in ng-repeat on delete */
.repeat-item.ng-enter,
.repeat-item.ng-leave {
  -webkit-transition:0.8s linear all;
  transition:0.8s linear all;
}

.repeat-item.ng-enter,
.repeat-item.ng-leave.ng-leave-active {
  opacity:0;

}
.repeat-item.ng-leave,
.repeat-item.ng-enter.ng-enter-active {
  opacity:1;
}

/*********/
.uib-day button {
  padding: 2px 4px;
  margin: 0 3px 2px 0;
  min-width: auto;
}

/***** Footer Buttons *****/
#button-scoring {
  position: fixed;
  bottom: 20px;
  right: 70px;
  z-index: 10000;
}

#button-comment {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10000;
}

#box-scoring {
  position: fixed;
  bottom: 60px;
  right: 70px;
  background: #fff;
  border: 1px solid #e7eaec;
  width: 500px;
  height: 350px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.35);
  box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.35);
}

#box-scoring-template {
  overflow-y: scroll;
  height: 290px;
  padding: 15px;
}

#box-comment {
  position: fixed;
  bottom: 60px;
  right: 20px;
  padding: 0;
  background: #fff;
  border: 1px solid #e7eaec;
  width: 300px;
  height: 500px;
  border-radius: 4px;
  /*overflow-y: scroll;*/
  -webkit-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.35);
  box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.35);
}
#box-comment .panel-body, #panel-recipients {
  padding-top: 0px;
}
#box-comment #panel-recipients {
  max-height: 450px;
  overflow-y: scroll;
}
#box-comment .info-panel {
  max-height: 378px;
  margin-top: 5px;
}
#box-comment .lnk-close {
  display: block;
  width: 100%;
  text-align: right;
  color: #fff;
  background-color: #2f4050;
  padding-right: 6px;
}

#panel-recipients-people {
  height: 360px;
  overflow: scroll;
}

.footer-danger {
  background-color: #ed5565 !important;
}

.footer-danger span {
  color: #fff;
  font-weight: bold;
}

.bg-danger {
  background-color: #ed5565 !important;
}

.bg-danger span, .bg-danger a, .bg-danger a:hover {
  color: #fff;
}

.progress {
  background-color: #ddd9d9;
}

.uppercase {
  text-transform: uppercase;
}

.member-box {

}

.member-box .member-info {
  height: 97px;
}

.member-box .member-assignments {
  height: 100px;
  overflow-y: scroll;
}

.member-box .member-scoring {
  height: 66px;
}

.border-bottom {
  border-bottom: 1px solid #e7eaec;
}
.border-top {
  border-top: 1px solid #e7eaec;
}
.border-right {
  border-right: 1px solid #e7eaec;
}
.border-lg {
  border-width: 5px !important;
}
.ioa-icon {
  width: 66px;
  height: 66px;
  position: absolute;
  top: 50%;
  right: 0;
  margin: -33px -33px 0 33px;
}
.ioa-icon-yes {
  background: url(../images/ioa-yes-large.png) no-repeat !important;
}
.ioa-icon-no {
  background: url(../images/ioa-no-large.png) no-repeat !important;
}

.ioa-icon-small {
  display: inline-block;
  width: 34px;
  height: 34px;
}
.ioa-icon-yes-small {
  background: url(../images/ioa-yes-small.png) no-repeat !important;
}
.ioa-icon-no-small {
  background: url(../images/ioa-no-small.png) no-repeat !important;
}

/* Fixes an element to the top of the screen */
.fix-to-top {
  position: fixed;
  top: 0;
}

.stuck {
  position: fixed;
  top: 0;
}

.fix-to-top.panel-right, .stuck.panel-right {
  right: 2px;
}

.content-fade {
  opacity: 0.4;
}
.content-fade:hover {
  opacity: 1;
}

.text-center {
  text-align: center;
}

.content-center {
  margin: 0 auto 0 auto;
}

.text-freakin-huge {
  font-size: 5em;
}

.footer-logos {
  width: 298px;
  height: 61px;
  background: url(../images/logos-footer.png) left no-repeat;
}

.spacer-bottom {
  height: 140px;
}

.indicator-artifact-scored {
  margin: -5px 0 6px 6px;
}

.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}

.big-bold-text {
  font-size: 1.3em;
  font-weight: bold;
}
.big-super-form-text {
  font-size: 2rem;
}

.text-circle {
  display: inline-block;
  width: 32px;
  height: 32px;
  text-align: center;
  color: #fff;
  background-color: #3e9c7f;
  border-radius: 50%;
  margin: 0 auto;
  font-size: 1.3em;
  line-height: 32px;
}

.ta-scroll-window.form-control {
  padding: 18px !important;
}

.no-padding {
  padding: 0px !important;
}
.no-padding-left {
  padding-left: 0px !important;
}
.no-padding-right {
  padding-right: 0px !important;
}
