body.image-bg {
  background-image: url(../images/bg-entry.png) !important;
  background-repeat: no-repeat;
  background-size: cover;
}
body.image-bg-404 {
  background-image: url(../images/bg-404-sign.png) !important;
  background-repeat: no-repeat;
  background-position: -500px 0px;
  background-size: cover;
}

.emph-text {
  font-size: 1.2em;
}
