<div class="modal-header">
  <h1 class="modal-title">NICE Scoring Rubric: Levels of Mastery</h1>
</div>
<div class="modal-body">
  <h2>Technical Demonstration (Documentation)</h2>
  <p>
    Demonstration of CEC Competencies: <strong>60% of total score</strong>
  </p>
  <table class="table table-bordered">
    <thead>
      <tr>
        <td class="col-sm-3"><strong>Advanced</strong></td>
        <td class="col-sm-3"><strong>Proficient</strong></td>
        <td class="col-sm-3"><strong>Emerging</strong></td>
        <td class="col-sm-3"><strong>No Evidence</strong></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <strong>All</strong> of the identified competencies are <a href="#explanation">demonstrated</a>.
        </td>
        <td>
          <strong>A majority</strong> of the identified competencies are demonstrated.
        </td>
        <td>
          <strong>Only a minority</strong> of the identified competencies are demonstrated.
        </td>
        <td>
          <strong>None</strong> of the identified competencies are demonstrated.
        </td>
      </tr>
    </tbody>
  </table>

  <h3>Contextual and Conceptual Understanding (Explanation)</h3>
  <p>
    Explanation of Documentation: <strong>40% of total score</strong>
  </p>
  <table class="table table-bordered">
    <thead>
      <tr>
        <td class="col-sm-3"><strong>Advanced</strong></td>
        <td class="col-sm-3"><strong>Proficient</strong></td>
        <td class="col-sm-3"><strong>Emerging Mastery</strong></td>
        <td class="col-sm-3"><strong>No Evidence</strong></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          The explanation clearly describes how the documentation provides support for <strong>each</strong> competency.
        </td>
        <td>
          The explanation clearly describes how the documentation provides support for
          <strong><a href="#definitions">a majority</a></strong> of the competencies.
        </td>
        <td>
          The explanation is not clear and provides support for only
          <strong><a href="#definitions">a minority</a></strong> 3 of the competencies.
        </td>
        <td>
          The explanation is not clear and does not provide support for any of the competencies.
        </td>
      </tr>
    </tbody>
  </table>

  <div>
    <a name="explanation"></a>
    <p>“Demonstrated” means that the candidate has provided documentation that shows the correct application of skills or correct understanding of knowledge specified by a given competency, based on the professional judgment of the reviewer. Questions to consider when determining whether a competency has been demonstrated include:
      <ol type="A">
        <li>If a skill competency:</li>
        <ol type="a">
          <li>Does the documentation show the intervener in action applying the skill or the result of having the skill (e.g., development of instructional materials)?
          </li>
          <li>Is the documentation related to the intervener’s own practice (e.g., if demonstrating a skill, it should show actual interactions with the intervener’s student/client, rather than role playing)?
          </li>
        </ol>
        <li>If a knowledge competency, does the documentation indicate that the intervener has acquired the knowledge?</li>
        <li>Does the documentation provide sufficient detail to adequately assess whether a competency has been met?</li>
      </ol>
    </p>
  </div>

  <h2>Definitions of "majority" and "minority"</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <td class="col-sm-4"><strong>Number of competencies in artifact</strong></td>
        <td class="col-sm-4"><strong>"Majority" means...</strong></td>
        <td class="col-sm-4"><strong>"Minority" means...</strong></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-center big-bold-text">1</td>
        <td>The single competency is demonstrated/explained</td>
        <td>No competencies are demonstrated/explained</td>
      </tr>
      <tr>
        <td class="text-center big-bold-text">2</td>
        <td>Both competencies are demonstrated/explained</td>
        <td>No competencies are demonstrated/explained</td>
      </tr>
      <tr>
        <td class="text-center big-bold-text">3</td>
        <td>2 of the 3 competencies are demonstrated/explained</td>
        <td>Only 1 competency is demonstrated/explained</td>
      </tr>
      <tr>
        <td class="text-center big-bold-text">4</td>
        <td>3 of the 4 competencies are demonstrated/explained</td>
        <td>Only 1 competency is demonstrated/explained</td>
      </tr>
      <tr>
        <td class="text-center big-bold-text">5</td>
        <td>3 to 5 of the competencies are demonstrated/explained</td>
        <td>Only 1 or 2 competencies are demonstrated</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-white" ng-click="cancel()">Close</button>
</div>
