<!-- Scoring Box -->
<div>
    <h4>Demonstration of Competencies (60% of total score)</h4>
    <div class="radio radio-info radio-inline">
      <input type="radio" id="rdo-advanced1" ng-model="scoring.demonstration_competencies" value="Advanced" />
      <label for="rdo-advanced1">Advanced</label>
    </div>
    <div class="radio radio-info radio-inline">
      <input type="radio" id="rdo-proficient1" ng-model="scoring.demonstration_competencies" value="Proficient" />
      <label for="rdo-proficient1">Proficient</label>
    </div>
    <div class="radio radio-info radio-inline">
      <input type="radio" id="rdo-emergent1" ng-model="scoring.demonstration_competencies" value="Emerging Mastery" />
      <label for="rdo-emergent1">Emerging Mastery</label>
    </div>
    <div class="radio radio-info radio-inline">
      <input type="radio" id="rdo-none1" ng-model="scoring.demonstration_competencies" value="None" />
      <label for="rdo-none1">None</label>
    </div>
    <h4>Explanation (40% of total score)</h4>
    <div class="radio radio-info radio-inline">
      <input type="radio" id="rdo-advanced2" ng-model="scoring.explanation" value="Advanced" />
      <label for="rdo-advanced2">Advanced</label>
    </div>
    <div class="radio radio-info radio-inline">
      <input type="radio" id="rdo-proficient2" ng-model="scoring.explanation" value="Proficient" />
      <label for="rdo-proficient2">Proficient</label>
    </div>
    <div class="radio radio-info radio-inline">
      <input type="radio" id="rdo-emergent2" ng-model="scoring.explanation" value="Emerging Mastery" />
      <label for="rdo-emergent2">Emerging Mastery</label>
    </div>
    <div class="radio radio-info radio-inline">
      <input type="radio" id="rdo-none2" ng-model="scoring.explanation" value="None" />
      <label for="rdo-none2">None</label>
    </div>

    <div>
      <textarea class="form-control m-t" rows="3" ng-model="scoring.reviewer_comments_1" placeholder="Reviewer Comments"></textarea>
    </div>

    <a href ng-controller="ScoringContentCtrl" ng-click="open('IntervenerCertification')"><i class="m-t fa fa-question-circle"></i> Rubric and Scoring Help</a>
</div>
