<!-- Only show this template if I'm an admin OR I'm the candidate OR I'm the reviewer that scored this artifact -->
<!-- 3/12/2019: Added Mentors to the list of folks who can see this.  Mentors should only see comments though. -->

<!-- If we have a 3rd score, it means that one is out of IOA, grey it out, but DON'T DISPLAY THIS TO THE CANDIDATE!!! -->

<!-- Case for Mentors who can only see comments (am I a Mentor AND this portfolio is NOT mine?) -->
<div 
  ng-show="me.IsMentor == 'Yes' && is_user_mentor_for_portfolio()"
  class="wrapper m-b m-t col-sm-12"
  ng-class="{'border-right': $index == 0, 'content-fade': $index == 2}"
>
  <p>
    <strong>Reviewer Comments</strong>
    <div ng-bind-html="score.ArtifactScoresData.reviewer_comments_1 | linky" style="white-space: pre-wrap;"></div>
  </p>
</div>


<div
  class="wrapper m-b m-t col-sm-12"
  ng-class="{'border-right': $index == 0, 'content-fade': $index == 2}"
  ng-show="
    me.IsAdmin == 'Yes' ||
    (portfolio.PortfoliosUserId == me.UsersId && 
    $index < 2 && 
    portfolio.PortfoliosStatus == 'Scored and Released to Candidate') ||
    me.UsersId == score.ArtifactScoresReviewerId
  ">
    <div
      class="ioa-icon"
      ng-if="$index == 0 && me.IsAdmin == 'Yes'"
      ng-class="{'ioa-icon-yes': score.ArtifactScoresIOA == 'Yes', 'ioa-icon-no': score.ArtifactScoresIOA == 'No'}">
    </div>

    <div class="row m-b">
      <!-- Portfolio Score -->
      <h1
        class="text-success"
        ng-class="{'text-danger': score.ArtifactScoresErrorType == 'failing_score'}">
        Score: {{ score.ArtifactScoresScore }}
      </h1>

      <!-- Only show reviewer name(s) to Admin or Reviewer -->
      <div ng-if="me.IsAdmin == 'Yes' || me.UsersId == score.ArtifactScoresReviewerId">
        Reviewed by <a href=""><strong>{{ score.UsersFirstName }} {{ score.UsersLastName }}</strong></a>
      </div>  
      <span 
          class="label label-warning" 
          ng-if="score.ArtifactScoresErrorFail == 'Yes'"
        >
        Did not pass
      </span>
      <hr />
    </div>

    <!-- Show everything else to the Candidate -->
    <p>
      <strong>Demonstration of Competencies:</strong>
      <div ng-bind-html="score.ArtifactScoresData.demonstration_competencies | linky" style="white-space: pre-wrap;"></div>
    </p>
    <p>
      <strong>Explanation:</strong>
      <div ng-bind-html="score.ArtifactScoresData.explanation | linky" style="white-space: pre-wrap;"></div>
    </p>
    <p>
      <strong>Reviewer Comments</strong>
      <div ng-bind-html="score.ArtifactScoresData.reviewer_comments_1 | linky" style="white-space: pre-wrap;"></div>
    </p>
</div>
