<h3>
  <span ng-show="row.QTypesRequired == 'Yes'" class="fa fa-asterisk text-danger" tooltip-placement="top" uib-tooltip="This question or prompt is required."></span>
  {{ row.QTypesLabel }}
</h3>

<div class="checkbox checkbox-info">
  <ul>

    <li
      ng-repeat="row2 in row.Values track by $index"
      ng-show="disabled == false || (disabled == true && answers[row.QTypesId].QAnswersValues.values[$index] == 'Yes')"
    >
      <input id="chk-{{row.QTypesId}}-{{$index}}" type="checkbox" ng-change="qtype_change(row.QTypesId, answers[row.QTypesId].QAnswersId)" ng-model="answers[row.QTypesId].QAnswersValues.values[$index]"
          ng-true-value="'Yes'"
          ng-false-value="'No'"
          ng-disabled="disabled" />
      <label for="chk-{{row.QTypesId}}-{{$index}}" ng-bind="row2"></label>
    </li>

  </ul>
</div>

<div ng-show="disabled == false" class="form-group">
  <input type="text" class="form-control" placeholder="Other" ng-blur="qtype_change(row.QTypesId, answers[row.QTypesId].QAnswersId, row.QTypesType)" ng-model="answers[row.QTypesId].QAnswersValues.other" ng-disabled="disabled" />
</div>

<div ng-show="disabled == true && answers[row.QTypesId].QAnswersValues.other.length > 0">
  <p><strong>Other:</strong> <span ng-bind="answers[row.QTypesId].QAnswersValues.other"></span></p>
</div>
