<h4>
  <span ng-show="row.QTypesRequired == 'Yes'" class="fa fa-asterisk text-danger" tooltip-placement="top" uib-tooltip="This question or prompt is required."></span>
  {{ row.QTypesLabel }}
</h4>

<div class="form-group">
  <input type="text" class="form-control" placeholder="" ng-blur="qtype_change(row.QTypesId, answers[row.QTypesId].QAnswersId, row.QTypesType)" ng-model="answers[row.QTypesId].QAnswersValues.value" ng-disabled="disabled" />
</div>
