<h3 ng-bind="row.QTypesLabel"></h3>
<div class="form-group">

  <div class="m-b" ng-hide="disabled">
    <a href ngf-select="uploadFiles($files, row.QTypesId, answers[row.QTypesId].QAnswersId, row.QTypesType, 'Yes', 0)" multiple="multiple" class="btn btn-primary"><i class=" fa fa-laptop"></i> Upload files from your computer</a>
    <br /> <br />
    <p ng-show="file_is_uploading == answers[row.QTypesId].QAnswersId"><i class="fa fa-refresh fa-spin"></i> Uploading...</p>
  </div>

  <div ng-hide="disabled">
    <div class="m-b-sm" ng-repeat="row2 in answers[row.QTypesId].QAnswersValues.images">
      <strong>
        <a ng-bind="row2.name" ng-href="{{ row2.url }}" target="_blank"></a>
      </strong>

      <a href class="btn btn-xs btn-danger m-l" ng-click="uploadFiles('delete', row.QTypesId, answers[row.QTypesId].QAnswersId, row2.QTypesType, 'Yes', $index)">
        <i class="fa fa-remove"></i> Remove
      </a>

    </div>
  </div>

  <div ng-show="disabled">
    <div ng-repeat="row2 in answers[row.QTypesId].QAnswersValues.images">
      <a class="badge badge-success pull-left m-r-sm m-b-sm" ng-href="{{ row2.url }}" target="_blank">
        <i class="fa fa-file"></i> &nbsp;{{ row2.name }}
      </a>
    </div>
  </div>
</div>
<div class="clearfix"></div>
