<h3 ng-bind="row.QTypesLabel"></h3>
<div class="form-group">

  <div class="m-b" ng-hide="disabled">
    <a href ng-hide="file_is_uploading == true || answers[row.QTypesId].QAnswersValues.image.name.length" ngf-select="uploadFiles($files, row.QTypesId, answers[row.QTypesId].QAnswersId, row.QTypesType, 'No', 0)" multiple="multiple" class="btn btn-primary"><i class=" fa fa-laptop"></i> Upload 1 file from your computer</a>
  </div>

  <div ng-hide="disabled">
    <strong>
      <a ng-bind="answers[row.QTypesId].QAnswersValues.image.name" ng-href="{{ answers[row.QTypesId].QAnswersValues.image.url }}" target="_blank" ng-show="(answers[row.QTypesId].QAnswersValues.image.name.length && (answers[row.QTypesId].QAnswersValues.image.value != 'Uploading'))"></a>
    </strong>

    <a href class="btn btn-xs btn-danger m-l" ng-click="uploadFiles('delete', row.QTypesId, answers[row.QTypesId].QAnswersId, row.QTypesType, 'No', 0)" ng-show="(answers[row.QTypesId].QAnswersValues.image.name.length && (answers[row.QTypesId].QAnswersValues.image.value != 'Uploading'))">
      <i class="fa fa-remove"></i> Remove
    </a>

    <p ng-show="file_is_uploading == answers[row.QTypesId].QAnswersId"><i class="fa fa-refresh fa-spin"></i> Uploading...</p>
  </div>

  <div ng-show="disabled">
    <a class="badge badge-success" ng-href="{{ answers[row.QTypesId].QAnswersValues.image.url }}" target="_blank" ng-show="(answers[row.QTypesId].QAnswersValues.image.name.length && (answers[row.QTypesId].QAnswersValues.image.value != 'Uploading'))">
      <i class="fa fa-file"></i> &nbsp;{{ answers[row.QTypesId].QAnswersValues.image.name }}
    </a>
  </div>
</div>
<div class="clearfix"></div>
