<h3>
  <span ng-show="row.QTypesRequired == 'Yes'" class="fa fa-asterisk text-danger" tooltip-placement="top" uib-tooltip="This question or prompt is required."></span>
  {{ row.QTypesLabel }}
</h3>

<div class="radio radio-info">
  <ul>
    <li
      ng-repeat="row2 in row.Values track by $index"
      ng-show="disabled == false || (disabled == true && answers[row.QTypesId].QAnswersValues.values[$index] == 'Yes')"
    >
      <input id="rad-{{row.QTypesId}}-{{$index}}" type="radio" ng-change="qtype_change(row.QTypesId, answers[row.QTypesId].QAnswersId)" ng-model="answers[row.QTypesId].QAnswersValues.values[$index]" ng-true-value="'Yes'" ng-false-value="'No'" ng-disabled="disabled" />
      <label for="rad-{{row.QTypesId}}-{{$index}}" ng-bind="row2"></label>
    </li>
  </ul>
</div>
