<h3 ng-bind="row.QTypesLabel"></h3>
<div class="form-group">
  <button class="btn btn-primary m-b" ng-controller="ModalReleaseFormFilesCtrl" ng-hide="disabled" ng-click="open(row)"><i class="fa fa-plus"></i> Add Release Forms</button>

  <div class="release-forms">
    <ul>
      <li style="height: 30px;" ng-repeat="row in release_forms">
        <strong>
          <a ng-href="{{ row.MediaUrl }}" ng-bind="row.MediaName" target="_blank"></a> (<span ng-bind="row.MediaPeople"></span>)
        </strong>
        <a href="" class="btn btn-danger btn-xs" ng-hide="disabled" ng-click="release_form_delete(row)">
          <i class="fa fa-remove"></i> Remove</a>
      </li>
    </ul>
  </div>

</div>
<div class="clearfix"></div>
