<h3>
  <span ng-show="row.QTypesRequired == 'Yes'" class="fa fa-asterisk text-danger" tooltip-placement="top" uib-tooltip="This question or prompt is required."></span>
  {{ row.QTypesLabel }}
</h3>

<div>
  <select class="form-control" ng-options="row2 for row2 in row.Values" ng-model="answers[row.QTypesId].QAnswersValues.value" ng-blur="qtype_change(row.QTypesId, answers[row.QTypesId].QAnswersId, row.QTypesType)" ng-disabled="disabled"></select>
</div>
