<h3>
  <span ng-show="row.QTypesRequired == 'Yes'" class="fa fa-asterisk text-danger" tooltip-placement="top" uib-tooltip="This question or prompt is required."></span>
    {{ row.QTypesLabel }}
</h3>

<div ng-show="disabled == false" class="form-group">
  <textarea class="form-control" rows="12" placeholder="" ng-blur="qtype_change(row.QTypesId, answers[row.QTypesId].QAnswersId, row.QTypesType)" ng-model="answers[row.QTypesId].QAnswersValues.value" ng-disabled="disabled" aria-label="{{ row.QTypesLabel }}"></textarea>
</div>

<div ng-show="disabled == true">
  <p class="text" ng-bind-html="answers[row.QTypesId].QAnswersValues.value | linky"></p>
</div>
