<h3>
  <span ng-show="row.QTypesRequired == 'Yes'" class="fa fa-asterisk text-danger" tooltip-placement="top" uib-tooltip="This question or prompt is required."></span>
  {{ row.QTypesLabel }}
</h3>

<div ng-show="disabled == false" class="form-group">
  <input type="text" class="form-control" placeholder="Enter the video URL" ng-blur="qtype_change(row.QTypesId, answers[row.QTypesId].QAnswersId, row.QTypesType)" ng-model="answers[row.QTypesId].QAnswersValues.value" ng-disabled="disabled" />
</div>

<div ng-show="disabled == true">
  <figure responsive-video>
    <iframe ng-show="answers[row.QTypesId].QAnswersValues.value.length > 0" width="400" height="315" ng-src="{{ answers[row.QTypesId].QAnswersValues.value | embedUrl }}" frameborder="0" allowfullscreen></iframe>
  </figure>
</div>
