<div ng-if="answers[row.QTypesId].QAnswersValues.values[0] || disabled == false">
  <h3 ng-if="row.QTypesLabel"><i class="fa fa-user"></i> <span ng-bind="row.QTypesLabel"></span></h3>
  <div class="hr-line-dashed"></div>

  <div class="row">
    <div class="col-sm-6 form-group">
      <label ng-hide="disabled">Upload Photo of Student/Client</label>

       <div ng-hide="disabled">
          <a href ng-hide="file_is_uploading == true || answers[row.QTypesId].QAnswersValues.image.name.length" ngf-select="uploadFiles($files, row.QTypesId, answers[row.QTypesId].QAnswersId, row.QTypesType, 'No', 0)" class="btn btn-primary m-b">
            <i class=" fa fa-laptop"></i> Upload 1 photo from your computer
          </a>

          <div>
            <img
              ng-show="answers[row.QTypesId].QAnswersValues.image.name.length"
              ng-src="{{ answers[row.QTypesId].QAnswersValues.image.url }}" class="col-sm-6" />

            <a href class="btn btn-xs btn-danger" ng-click="uploadFiles('delete', row.QTypesId, answers[row.QTypesId].QAnswersId, row.QTypesType, 'No', 0)" ng-show="(answers[row.QTypesId].QAnswersValues.image.name.length && (answers[row.QTypesId].QAnswersValues.image.value != 'Uploading'))">
              <i class="fa fa-remove"></i> Remove
            </a>
          </div>

          <p ng-show="file_is_uploading == answers[row.QTypesId].QAnswersId"><i class="fa fa-refresh fa-spin"></i> Uploading...</p>
       </div>

       <div ng-show="disabled">

          <img
            ng-show="answers[row.QTypesId].QAnswersValues.image.url.length"
            ng-src="{{ answers[row.QTypesId].QAnswersValues.image.url }}" class="col-sm-6" />

       </div>

    </div>
    <div class="col-sm-6 form-group">
      <label>Pseudonym</label>

      <input aria-label="Pseudonym" ng-show="disabled == false" type="text" class="form-control" ng-model="answers[row.QTypesId].QAnswersValues.values[0]" ng-blur="qtype_change(row.QTypesId, answers[row.QTypesId].QAnswersId)" />

      <p ng-show="disabled == true" ng-bind="answers[row.QTypesId].QAnswersValues.values[0]"></p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 form-group">
      <label>Age and etiology of deaf-blindness (if known).</label>
      <textarea aria-label="Age and etiology of deaf-blindness (if known)." ng-show="disabled == false" rows="3" class="form-control" ng-model="answers[row.QTypesId].QAnswersValues.values[1]" ng-blur="qtype_change(row.QTypesId, answers[row.QTypesId].QAnswersId)"></textarea>

      <p ng-show="disabled == true" ng-bind="answers[row.QTypesId].QAnswersValues.values[1]"></p>
    </div>
    <div class="col-sm-6 form-group">
      <label>Does the student/client have usable hearing? If yes, please describe.</label>
      <textarea aria-label="Does the student/client have usable hearing? If yes, please describe." ng-show="disabled == false" rows="3" class="form-control" ng-model="answers[row.QTypesId].QAnswersValues.values[3]" ng-blur="qtype_change(row.QTypesId, answers[row.QTypesId].QAnswersId)"></textarea>

      <p ng-show="disabled == true" ng-bind="answers[row.QTypesId].QAnswersValues.values[3]"></p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 form-group">
      <label>Does the student/client have usable vision? If yes, please describe.</label>
      <textarea aria-label="Does the student/client have usable vision? If yes, please describe." ng-show="disabled == false" rows="3" class="form-control" ng-model="answers[row.QTypesId].QAnswersValues.values[2]" ng-blur="qtype_change(row.QTypesId, answers[row.QTypesId].QAnswersId)"></textarea>

      <p ng-show="disabled == true" ng-bind="answers[row.QTypesId].QAnswersValues.values[2]"></p>
    </div>
    <div class="col-sm-6 form-group">
      <label>What methods does your student/client use to communicate?</label>
      <textarea aria-label="What methods does your student/client use to communicate?" ng-show="disabled == false" rows="3" class="form-control" ng-model="answers[row.QTypesId].QAnswersValues.values[4]" ng-blur="qtype_change(row.QTypesId, answers[row.QTypesId].QAnswersId)"></textarea>

      <p ng-show="disabled == true" ng-bind="answers[row.QTypesId].QAnswersValues.values[4]"></p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 form-group">
      <label>Describe how your student/client usually interacts with others.</label>
      <textarea aria-label="Describe how your student/client usually interacts with others." ng-show="disabled == false" rows="3" class="form-control" ng-model="answers[row.QTypesId].QAnswersValues.values[5]" ng-blur="qtype_change(row.QTypesId, answers[row.QTypesId].QAnswersId)"></textarea>

      <p ng-show="disabled == true" ng-bind="answers[row.QTypesId].QAnswersValues.values[5]"></p>
    </div>
    <div class="col-sm-6 form-group">
      <label>Describe the typical environments where you work with your student/client.</label>
      <textarea aria-label="Describe the typical environments where you work with your student/client." ng-show="disabled == false" rows="3" class="form-control" ng-model="answers[row.QTypesId].QAnswersValues.values[7]" ng-blur="qtype_change(row.QTypesId, answers[row.QTypesId].QAnswersId)"></textarea>

      <p ng-show="disabled == true" ng-bind="answers[row.QTypesId].QAnswersValues.values[7]"></p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 form-group">
      <label>Who are the members of your student/client's team (list by occupational role such as "classroom teacher", "teacher of the visually impaired", etc.)?</label>
      <textarea aria-label="Who are the members of your student/client's team (list by occupational role such as 'classroom teacher', 'teacher of the visually impaired', etc.)?" ng-show="disabled == false" rows="3" class="form-control" ng-model="answers[row.QTypesId].QAnswersValues.values[6]" ng-blur="qtype_change(row.QTypesId, answers[row.QTypesId].QAnswersId)"></textarea>

      <p ng-show="disabled == true" ng-bind="answers[row.QTypesId].QAnswersValues.values[6]"></p>
    </div>
    <div class="col-sm-6 form-group">
    </div>
  </div>
</div>
