<div class="modal-header">
  <h1 class="modal-title">Release portfolio to {{ candidate_name }}.</h1>
</div>
<div class="modal-body">
  <h2 class="text-danger">Are you sure you want to release {{ candidate_name }}'s portfolio?</h2>
  <p>Releasing the portfolio will inform the candidate that review of their portfolio has been completed.</p>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-white" ng-click="cancel()">Cancel</button>
  <button type="button" class="btn btn-danger" ng-click="submit()">Release portfolio to {{ candidate_name }}</button>
</div>
