<div class="modal-header">
    <h1 class="modal-title">Reopen this portfolio for editing?</h1>
  </div>
  <div class="modal-body">
    <p><strong>This portfolio is currently being reviewed! Are you sure you want to reopen this portfolio for editing?</strong></p>
  </div>
  
  <div class="modal-footer">
    <button type="button" class="btn btn-white" ng-click="cancel()">Cancel</button>
    <button type="button" class="btn btn-danger" ng-click="reopen()">Reopen</button>
  </div>
  