<div class="modal-header">
  <h1 class="modal-title">Submit your portfolio for review</h1>
</div>
<div class="modal-body">
  <div ng-show="!has_submitted_for_review">
    <h2 class="text-danger">Are you sure you want to submit your portfolio for review?</h2>
    <p>Once you submit your portfolio for review, the reviewer assigned to your portfolio will be notified and you will no longer be able to edit your portfolio.</p>

    <!-- Governance content -->
    <div ng-if="portfolio_data.PortfolioType.PTypesGovernanceCandidate.length > 0">
      <h3 class="text-danger">Please read before submitting your portfolio.</h3>
      <p ng-bind-html="portfolio_data.PortfolioType.PTypesGovernanceCandidate"></p>
    </div>
  </div>
  <div class="container-submit-badge" ng-show="has_submitted_for_review">
    <h2 class="text-primary">Congratulations!</h2>
    <p><strong>Your portfolio has been submitted for review.</strong></p>
    <div class="submit-success-badge m-t m-b"></div>
    <button type="button" class="btn btn-white" ng-click="cancel()">Close this window</button>
  </div>
</div>

<div class="modal-footer" ng-show="!has_submitted_for_review">
  <button type="button" class="btn btn-white" ng-click="cancel()">Cancel</button>
  <button
    type="button"
    class="btn btn-danger"
    ng-disabled="submitting_portfolio"
    ng-click="submit()">
    <i ng-if="submitting_portfolio" class="fa fa-refresh fa-spin"></i>
    Submit my portfolio for review</button>
</div>
