<div ng-controller="UsersAssignCtrl">
  <div class="modal-header">
    <div class="col-sm-6">
      <h1 class="modal-title">Assign mentors and reviewers to candidate</h1>
    </div>
    <div class="col-sm-6">

      <!-- User search form -->
      <div class="input-group">
        <input type="text" class="form-control" ng-model="search" placeholder="Search users">
        <span class="input-group-btn">
          <button type="button" class="btn btn-primary">Go!</button>
        </span>
      </div>
      <!-- End user search form -->

    </div>
  </div>
  <div class="modal-body">

    <div class="tabs-container">
      <uib-tabset>
        <uib-tab>
          <uib-tab-heading>
            <i class="fa fa-users"></i> Mentors</span>
          </uib-tab-heading>
          <div class="table-responsive">
            <table class="table table-striped table-hover">
                <tbody>
                <tr ng-repeat="row in mentors | filter:search">
                  <td>
                    <div class="checkbox checkbox-info">
                      <input type="checkbox" ng-model="selected_mentors[row.UsersId]" id="select-mentor{{$index}}" class="toggle-row-class" />
                      <label for="select-mentor{{$index}}">&nbsp;</label>
                    </div>
                  </td>
                  <td class="feed-element">
                    <img alt="Profile picture for {{row.UsersFirstName}} {{row.UsersLastName}}" class="img-circle" ng-src="{{ row.MediaUrl }}" title="{{ row.UsersFirstName }} {{ row.UsersLastName }}" />
                  </td>
                  <td>
                    {{ row.UsersFirstName }} {{ row.UsersLastName }}
                    <small class="muted">{{ row.UsersInstitution }}</small><br />
                    <i class="fa fa-envelope"></i> <a href="mailto:{{ row.UsersEmail }}">{{ row.UsersEmail }}</a>
                  </td>
                  <td class="client-status">
                    <span ng-if="row.PTypeUserLuUserType == 'Candidate'" class="label label-primary">Candidate</span>
                    <span ng-if="row.PTypeUserLuUserType == 'Mentor'" class="label label-info">Mentor</span>
                    <span ng-if="row.PTypeUserLuUserType == 'Reviewer'" class="label label-warning">Reviewer</span>
                    <span ng-if="row.PTypeUserLuUserType == 'Admin'" class="label label-success">Admin</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </uib-tab>

        <uib-tab>
          <uib-tab-heading>
            <i class="fa fa-check"></i> Reviewers</span>
          </uib-tab-heading>
          <table class="table table-striped table-hover">
              <tbody>
              <tr ng-repeat="row in reviewers | filter:search">
                <td>
                  <div class="checkbox checkbox-info">
                    <input type="checkbox" ng-model="selected_reviewers[row.UsersId]" id="select-reviewer{{$index}}" class="toggle-row-class" />
                    <label for="select-reviewer{{$index}}">&nbsp;</label>
                  </div>
                </td>
                <td class="feed-element">
                  <img alt="Profile picture for {{row.UsersFirstName}} {{row.UsersLastName}}" class="img-circle" ng-src="{{ row.MediaUrl }}" title="{{ row.UsersFirstName }} {{ row.UsersLastName }}" />
                </td>
                <td>
                  {{ row.UsersFirstName }} {{ row.UsersLastName }}
                  <small class="muted">{{ row.UsersInstitution }}</small><br />
                  <i class="fa fa-envelope"></i> <a href="mailto:{{ row.UsersEmail }}">{{ row.UsersEmail }}</a>
                </td>
                <td class="client-status">
                  <span ng-if="row.PTypeUserLuUserType == 'Candidate'" class="label label-primary">Candidate</span>
                  <span ng-if="row.PTypeUserLuUserType == 'Mentor'" class="label label-info">Mentor</span>
                  <span ng-if="row.PTypeUserLuUserType == 'Reviewer'" class="label label-warning">Reviewer</span>
                  <span ng-if="row.PTypeUserLuUserType == 'Admin'" class="label label-success">Admin</span>
                </td>
              </tr>
            </tbody>
          </table>
        </uib-tab>
      </uib-tabset>
    </div>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-white" ng-click="cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="save_assigned_users( portfolio_id )">Save Selections</button>
  </div>
</div>
