<div class="modal-header">
  <h1 class="modal-title">Delete Item!</h1>
</div>
<div class="modal-body">
  <p><strong>Are you sure you want to delete this {{item_type}}?</strong></p>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-white" ng-click="cancel()">Cancel</button>
  <button type="button" class="btn btn-danger" ng-click="delete()">Delete</button>
</div>
