<div ng-controller="ArtifactAddEditCtrl">
  <div class="modal-header">
    <h3 class="modal-title">Embed a Video</h3>
  </div>
  <div class="modal-body">
    <textarea rows="6" class="form-control" name="embedcode" ng-model="embedcode" placeholder="Enter the video embed code here."></textarea>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-white" ng-click="cancel_video_embed()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="save_video_embed(artifact_id)">Save</button>
  </div>
</div>
