<div class="modal-header">
  <h1 class="modal-title">Governance Statement</h1>
</div>
<div class="modal-body">
  <!-- Governance content -->
  <div>
    <h2 class="text-danger">Please read before viewing this portfolio.</h2>
    <p ng-bind-html="message"></p>
  </div>
  <div>
    <strong>By clicking the View Portfolio button below, you are agreeing to this statement.</strong>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-white" ng-click="cancel()">Cancel</button>
  <button type="button" class="btn btn-danger" ng-click="submit()">View Portfolio</button>
</div>
