<div ng-controller="ModalReleaseFormFilesCtrl">

  <div class="modal-header">
    <h1 class="modal-title col-sm-6">Add Release Forms</h1>
    <div class="col-sm-6" ng-show="select_state">
      <input type="text" class="form-control" placeholder="Search files" ng-model="search_files" />
    </div>
  </div>

  <div class="modal-body" id="modal-files">

    <span ng-hide="uploading_files.length">
      <a href="" class="btn btn-primary m-b" ngf-select="uploadFiles($files)" ng-show="select_state">Upload New Release Form</a>
    </span>

    <div ng-repeat="upload in uploading_files">
      Uploading......<span ng-bind="upload.progress"></span>%.
    </div>

    <div ng-show="select_state">

      <div ng-show="files.length == 0" class="m-t alert alert-info">
        You do not have any release forms uploaded yet.
      </div>

      <table class="table" ng-show="files.length > 0" ng-hide="uploading_files.length">
        <thead>
          <tr>
            <th>Release form filename</th>
            <th>People covered</th>
            <th>Uploaded on</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="file in files | filter: { MediaName: search_files }">
            <td ng-bind="file.MediaName | limitTo: 30"></td>
            <td ng-bind="file.MediaPeople | limitTo: 50"></td>
            <td ng-bind="file.MediaUpdatedAt | dateToISO | date:'MMM d, yyyy'"></td>
            <td>
              <a href="" class="btn btn-xs btn-danger" ng-click="delete(file.MediaId, file.MediaName)">
                <i class="fa fa-remove"></i> Remove</a>
            </td>
            <td>
              <a href="" class="btn btn-xs btn-primary" ng-click="add(file.MediaId, file.MediaName)">Add this release form</a>
            </td>
          </tr>
        </tbody>
      </table>

    </div>

    <div ng-show="! select_state">
      <p>
        <b>Release Form Filename: </b>
        <span ng-bind="selected_file"></span>
      </p>

      <p>Please enter the people associated with this release form.</p>
      <input type="text" class="form-control" placeholder="Child 1 Name, Child 2 Name, etc..." ng-model="people.names" />

    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-white" ng-click="cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="attach_form()" ng-show="! select_state">Save New Release Form</button>
  </div>
</div>
