<div ng-controller="UsersSelectCtrl">
  <div class="modal-header">
    <div class="col-sm-6">
      <h1 class="modal-title">{{ modal_title }}</h1>
    </div>
    <div class="col-sm-6">

      <!-- User search form -->
      <div class="input-group">
        <input alt="Search users" type="text" class="form-control" ng-model="search" placeholder="Search users">
        <span class="input-group-btn">
          <button type="button" class="btn btn-primary">Go!</button>
        </span>
      </div>
      <!-- End user search form -->

    </div>
  </div>
  <div class="modal-body">

    <div class="m-t">

      <div class="alert alert-info" ng-if="users.length == 0">
        There is nobody here for you to select.
      </div>

      <div class="table-responsive">
          <table class="table table-striped table-hover">
              <tbody>
              <tr ng-repeat="row in users | filter:search">
                <td>
                  <div class="checkbox checkbox-info">
                    <input type="checkbox" ng-model="selected[row.UsersId]" id="select-user{{$index}}" class="toggle-row-class" />
                    <label for="select-user{{$index}}"></label>
                  </div>
                </td>
                <td class="feed-element">
                  <img alt="Profile picture for {{row.UsersFirstName}} {{row.UsersLastName}}" class="img-circle" ng-src="{{ row.MediaUrl }}" title="{{ row.UsersFirstName }} {{ row.UsersLastName }}" />
                </td>
                <td>
                  {{ row.UsersFirstName }} {{ row.UsersLastName }}
                  <small class="muted">{{ row.UsersInstitution }}</small><br />
                  <i class="fa fa-envelope"></i> <a href="mailto:{{ row.UsersEmail }}">{{ row.UsersEmail }}</a>
                </td>
                <td class="client-status">
                  <!-- TODO: make this a directive, we don't wanna have to write this 100 places -->
                  <span ng-if="row.IsCandidate == 'Yes'" class="label label-primary">Candidate</span>
                  <span ng-if="row.IsMentor == 'Yes'" class="label label-info">Mentor</span>
                  <span ng-if="row.IsReviewer == 'Yes'" class="label label-warning">Reviewer</span>
                  <span ng-if="row.IsAdmin == 'Yes'" class="label label-success">Admin</span>
                </td>
              </tr>
            </tbody>
        </table>
      </div>
    </div>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-white" ng-click="cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="save_selected_users(user_type, ptype_id)">Save Selections</button>
  </div>
</div>
