<div ng-controller="ModalFilesCtrl">
  <div class="modal-header">
    <h1 class="modal-title col-sm-6">Your Portfolio Files</h1>
    <div class="col-sm-6">
      <input type="text" class="form-control" placeholder="Search files" ng-model="search_files" />
    </div>
  </div>
  <div class="modal-body" id="modal-files">

    <div ng-show="files.length == 0" class="alert alert-info">
      You do not have any files uploaded yet.
    </div>

    <div class="file-box" ng-repeat="file in files | filter: { MediaName: search_files }">
      <div class="file toggle-file-select" ng-click="toggle_file_select(file)">
        <a href>
          <div ng-if="file.MediaTypeShort == 'image'" class="image">
            <img alt="Image: {{ file.MediaName }}" class="img-responsive" ng-src="{{ file.MediaUrl }}">
          </div>

          <div ng-if="file.MediaType == 'video/youtube'" class="image">
            <img alt="Video: {{ file.MediaName }}" class="img-responsive" ng-src="http://img.youtube.com/vi/{{ file.MediaPath | getYouTubeVideoId }}/0.jpg">
          </div>

          <div ng-if="file.MediaTypeShort != 'image' && file.MediaType != 'video/youtube'" class="image file-icon file-icon-{{ file.MediaTypeShort }}"></div>
          <div class="clearfix"></div>
          <div class="file-name">
            {{ file.MediaName}}
            <br/>
            <small>Added: {{ file.MediaUpdatedAt | dateToISO | date:'MMM d, yyyy' }}</small>
          </div>
        </a>
        <span class="check hide"></span>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-white" ng-click="cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="add_selected_files()">Add Selected Files to Artifact</button>
  </div>
</div>
