<div class="modal-header">
  <h1 class="modal-title">Mark Portfolio Scoring Complete</h1>
</div>
<div class="modal-body">
  <h2 class="text-danger">Are you sure you want to mark scoring complete for this portfolio?</h2>
  <p>Once you mark your scoring complete, you will no longer be able to edit your scores for this portfolio.</p>

  <!-- Governance content -->
  <!--
  <div ng-if="portfolio_data.PortfolioType.PTypesGovernanceCandidate.length > 0">
    <h3 class="text-danger">Please read before submitting your portfolio.</h3>
    <p>{{ portfolio_data.PortfolioType.PTypesGovernanceCandidate }}</p>
  </div>
  -->
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-white" ng-click="cancel()">Cancel</button>
  <button type="button" class="btn btn-danger" ng-click="submit()">Mark my scoring complete</button>
</div>
