<ul class="list-group elements-list">
  <li 
    tabindex="0" 
    class="list-group-item clickable" 
    ng-class="{'highlight-row':row.ArtifactsId == selected_artifact}" 
    ng-click="get_artifact(row.ArtifactsId)"
    ng-keydown="$event.which === 13 && get_artifact(row.ArtifactsId)" 
    ng-repeat="row in artifacts"
  >
    
    <!-- Scored Indicator -->
    <div ng-if="user_can_score">
      <div ng-repeat="score in row.Scores">
        <div ng-show="score.ArtifactScoresReviewerId == me.UsersId">
          <span class="badge badge-success indicator-artifact-scored">
            <i class="fa fa-check"></i> Reviewed</span>
        </div>
      </div>
    </div>
    <!-- End Scored Indicator -->

    <div class="checkmark checkmark-full" ng-show="row.Completion == 'complete'"></div>

    <strong class="artifact-menu-title" ng-bind="row.ArtifactsTitle"></strong>
    <small class="text-info" am-time-ago="row.ArtifactsUpdatedAt | dateToISO"></small>

    <p class="m-t-sm">
      <div ng-repeat="row2 in row.Competencies"><small ng-bind="row2.CompetenciesTitle"></small></div>
    </p>
    <div ng-repeat="row3 in row.Media"><span tooltip-placement="top" uib-tooltip="{{row3.MediaName}}" class="circle-icon {{ row3.MediaTypeShort }}"></span></div>
    <div class="clearfix"></div>
    <span 
        class="label label-warning" 
        ng-if="row.ScoringError == 'Yes'"
      >
      Did not pass
    </span>
  </li>
</ul>
