<div>
  <div ng-if="me.IsReviewer == 'Yes' || me.IsMentor == 'Yes' || me.IsAdmin == 'Yes'" class="col-sm-2 text-center m-b-sm">
    <h2>{{ portfolio.UsersFirstName }} {{ portfolio.UsersLastName }}</h2>
    <img class="img-circle" alt="Profile picture for {{ portfolio.UsersFirstName }} {{ portfolio.UsersLastName }}" ng-src="{{ portfolio.MediaUrl }}" style="width: 80px;">

  </div>
  <div style="margin-top: -20px;" class="m-b">
    <a href="portfolios/aboutme/{{ portfolio.PortfoliosId }}" ng-if="portfolio.PortfolioHasAboutMePage == 'Yes'"
        ng-class="{'btn-info': is_about_me == 'Yes', 'btn-white btn-sm': is_about_me != 'Yes'}"
        class="btn m-b-sm m-r-sm btn-sm">About Me</a>
    <span ng-repeat="row in standards">
      <a href="/portfolios/artifact/{{ portfolio.PortfoliosId }}/{{ row.StandardsId }}" ng-class="{'btn-info': row.StandardsId == selected_standard, 'btn-white btn-sm': row.StandardsId != selected_standard}" class="btn m-b-sm m-r-sm">{{ row.StandardsTitle }}</a>
    </span>
    <!-- Only show the Portfolio Scores button if we're a reviewer OR we're an admin OR Candidate View Scores is turned on for this portfolio AND the portfolio has been released to the candidate -->
    <a href="portfolios/scores/{{ portfolio.PortfoliosId }}"
      ng-if="
        (portfolio.PTypesViewScores == 'Yes' && portfolio.PortfoliosStatus == 'Scored and Released to Candidate') ||
        me.IsReviewer == 'Yes' ||
        me.IsAdmin == 'Yes'
      "
      ng-class="{'btn-info': is_score_page == 'Yes', 'btn-white btn-sm': is_score_page != 'Yes'}"
      class="btn m-b-sm m-r-sm btn-sm">Portfolio Scores
    </a>
  </div>
  <div class="clearfix"></div>
</div>
