<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h1>About Me</h1>
    <nav aria-label="Breadcrumb">
    <ol class="breadcrumb">
      <li>
        <a href="/portfolios/overview/{{ portfolio.PortfoliosId }}" ng-bind="portfolio.PTypesTitle"></a>
      </li>
      <li class="active" aria-current="page">
        <strong>About Me</strong>
      </li>
    </ol>
  </nav>
  </div>
  <div class="col-lg-2"></div>
</div>

<!-- Portfolio progress template -->
<div ng-include="'app/views/portfolios/templates/tpl-portfolio-menu-artifacts.html'" style="margin-top: 30px;"></div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">

    <div class="col-sm-3">
      <!--<div class="ibox">-->
        <!--<div class="ibox-content">-->
          <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
              <h1>{{ portfolio.UsersFirstName }} {{ portfolio.UsersLastName }}</h1>

              <div class="m-b-sm">
                <img class="img-circle" alt="Profile picture for {{ portfolio.UsersFirstName }} {{ portfolio.UsersLastName }}" ng-src="{{ portfolio.MediaUrl }}" style="width: 180px;">
              </div>

              <h2>{{ portfolio.UsersTitle }}</h2>
              <h3>{{ portfolio.UsersInstitution }}</h3>
            </div>
            <div class="clearfix"></div>
            <div class="hr-line-dashed"></div>

            <div class="col-lg-12 m-t">
              <p>Joined: {{ portfolio.UsersCreatedAt | dateToISO | date:'MMM d, yyyy' }}</p>
              <p>
                <i class="fa fa-envelope"> </i>
                <a href="mailto:{{ portfolio.UsersEmail }}">{{ portfolio.UsersEmail }}</a>
              </p>
            </div>

          </div>
        <!--</div>-->
      <!--</div>-->
    </div>

    <div class="col-sm-9">
      <div class="ibox">
        <div class="ibox-content">
          <div class="col-sm-12 m-b" ng-if="me.UsersId == portfolio.UsersId">
            <a href class="btn btn-primary pull-right" ng-if="edit_mode == false" ng-click="toggle_edit()">Edit Your About Me Page</a>

            <a href class="btn btn-primary pull-right" ng-if="edit_mode == true" ng-click="toggle_edit()">Done Editing</a>
          </div>
          <div class="clearfix"></div>

          <!-- Candidate Resume stuff goes here. -->
          <qtypes
            ng-if="edit_mode == true"
            type="Resume"
            userid="{{ portfolio.PortfoliosUserId }}"
            ptype="{{ portfolio.PTypesId }}"
            disabled="false"
            artifactid="{{ artifactid }}">
          </qtypes>

          <qtypes
            ng-if="edit_mode == false"
            type="Resume"
            userid="{{ portfolio.PortfoliosUserId }}"
            ptype="{{ portfolio.PTypesId }}"
            disabled="true"
            artifactid="{{ artifactid }}">
          </qtypes>

        </div>
      </div>
    </div>

  </div>
</div>
<div class="spacer-bottom"></div>
