<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h1><span ng-bind="portfolio.PTypesTitle"></span> : <span ng-bind="selected_standard"></span> : <span class="text-info" ng-bind="artifact.ArtifactsTitle"></span></h1>
    <nav aria-label="Breadcrumb">
    <ol class="breadcrumb">
      <li><a href="/portfolios/overview/{{ portfolio.PortfoliosId }}" ng-bind="portfolio.PTypesTitle"></a></li>
      <li><span ng-bind="selected_standard"></span></li>
      <li class="active"><a href="/portfolios/artifact/{{ portfolio.PortfoliosId }}/{{ artifact.ArtifactsId }}"><strong ng-bind="artifact.ArtifactsTitle"></strong></a></li>
    </ol>
  </nav>

  </div>

  <div class="col-lg-2 m-t-lg">
    <a href="/portfolios/artifact/{{ portfolio.PortfoliosId }}/{{ artifact.ArtifactsStandardId }}/{{ artifact.ArtifactsId }}" class="btn btn-primary">Done</a>
  </div>
</div>

<div class="row wrapper wrapper-content animated fadeInRight white-bg" style="padding: 6px;">

  <!-- Artifact content shows up here in this column -->
  <div class="col-sm-12">
    <div class="element-detail-box no-padding">

      <!-- Artifact Title -->
      <div class="row">
      <div class="form-group">
        <div class="col-sm-12">
          <h2 class="text-info">Artifact Title</h2>
          <input aria-label="Artifact Title" type="text" class="form-control big-super-form-text" ng-model="artifact.ArtifactsTitle" ng-blur="save()" />
        </div>
      </div>
      </div>

      <div class="row">
        <div class="col-sm-8 m-b">
          <h2 class="text-info">Standard and Competencies</h2>

          <!-- Select Standard -->
          <div class="form-group">
            <label>Standard</label>
            <select id="standard" aria-label="Select a standard" class="form-control" ng-options="row.StandardsId as row.StandardsTitle for row in standards" ng-model="artifact.ArtifactsStandardId" ng-change="standard_change()"></select>
          </div>

          <!-- Competencies Addressed by this Artifact -->
          <div class="form-group">
            <label>Competencies Addressed</label>
            <select id="standard" aria-label = "Select a competency" class="form-control" ng-options="row as row.CompetenciesTitle for row in competencies | filter:{ CompetenciesStandardsId: artifact.ArtifactsStandardId } | filter:filter_competencies()" ng-model="selected_competency" ng-change="save_competency()" ng-disabled="competencies_list.length >= 5">
              <option value="">Select Competency....</option>
            </select>
          </div>

          <!-- Selected Competencies Repeater -->
          <div class="m-b" ng-repeat="row in competencies_list">
            <a href title="Remove this competency" class="fa fa-close text-danger" ng-click="delete_competency(row, $index)"></a>
            <span ng-bind="row.CompetenciesTitle"></span>
          </div>
          <!-- End Competencies List -->
          <div class="clearfix"></div>
          <div class="hr-line-dashed"></div>

          <!-- Artifact Asset (Files, Videos, etc.) Column -->
          <h2 class="text-info">Documentation</h2>

          <!-- Documentation Asset Repeater -->

          <div ng-repeat="row in artifact_documents">
            <div class="ibox float-e-margins m-t-lg m-b-lg">
              <div class="ibox-content artifact-document">
                <div class="btn-group pull-left m-t">
                  <button ng-disabled="$index == 0" ng-click="move_document('up', $index, row)" class="btn btn-success btn-xs" title="Move Up"><i class="fa fa-arrow-up"></i></button>
                  <button ng-disabled="$index == artifact_documents.length - 1" ng-click="move_document('down', $index, row)" class="btn btn-success btn-xs" title="Move Down"><i class="fa fa-arrow-down"></i></button>
                  <button class="btn btn-xs btn-info" ng-controller="ModalReleaseFormFilesCtrl" ng-click="open(row)"><i class="fa fa-plus"></i> Add Release Forms</button>
                </div>

                <button class="btn btn-xs btn-danger pull-right m-t" ng-click="delete_document($index, row)"><i class="fa fa-minus-circle"></i> Remove Documentation</button>
                <div class="clearfix"></div>
                <div ng-include="'/app/views/common/templates/document-types/' + row.MediaTypeShort + '.html'" ng-init=""></div>

                <div class="release-forms">
                  <h3>Release forms for this documentation</h3>
                  <ul>
                    <li ng-repeat="row2 in row.ReleaseForms">
                      <a ng-href="{{ row2.MediaUrl }}" ng-bind="row2.MediaName" target="_blank"></a> (<span ng-bind="row2.MediaPeople"></span>)
                      <a href="" class="btn btn-danger btn-xs" ng-click="release_form_delete(row2)">Remove</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>

          <!-- End Documentation Asset Repeater -->

          <div ng-show="!video_embed && !google_embed">
            <div class="file-drop-list" ng-repeat="row in uploading_files">
              <div class="col-sm-6 file-name"><strong ng-bind="row.name"></strong></div>
              <div class="col-sm-4">
                <div class="progress progress-mini">
                  <div style="width: {{ row.progress }}%;" class="progress-bar progress-bar-primary"></div>
                  <p ng-show="row.processing">Processing...</p>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>

            <div ngf-drop ngf-select ng-model="files" class="col-sm-12 m-t file-drop-zone"
                ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
                accept="image/*,application/pdf,.xls,.xlsx,.ppt,.pptx,.doc,.docx,.odt,.ods,.odp"
                ngf-pattern="'image/*,application/pdf,.xls,.xlsx,.ppt,.pptx,.doc,.docx,.odt,.ods,.odp'">

              <img src="/app/images/drag-n-drop-icon.png" style="margin-bottom: 24px;" alt="Drag and drop files here to add documentation." />
            </div>
            <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>

          </div>

          <!-- Video Embed Panel -->
          <div ng-show="video_embed" class="gray-bg m-b">
            <h2 class="col-sm-9">YouTube or Vimeo Video</h2>
            <div class="col-sm-3 m-t">
              <a href class="btn btn-xs btn-white" ng-click="close_video_url()">Cancel</a>
              <a href class="btn btn-xs btn-primary" ng-click="save_video_url()">Done</a>
            </div>
            <input type="text" class="form-control" ng-model="video_url" placeholder="Enter your video URL here." />
          </div>
          <!-- End Video Embed Panel -->

          <!-- Google Drive Embed Panel -->
          <div ng-show="google_embed" class="gray-bg m-b">
            <h2 class="col-sm-9">Google Drive File</h2>
            <div class="col-sm-3 m-t">
              <a href class="btn btn-xs btn-white" ng-click="close_google_url()">Cancel</a>
              <a href class="btn btn-xs btn-primary" ng-click="save_google_url()">Done</a>
            </div>
            <input type="text" class="form-control" ng-model="google_url" placeholder="Enter your Google Drive Share URL here." />
          </div>
          <!-- End Google Drive Embed Panel -->

          <div class="btn-group col-sm-12 m-b">
            <div>
              <a href ngf-select="uploadFiles($files)" multiple="multiple" class="btn btn-white btn-xs col-sm-3"><i class=" fa fa-laptop"></i> My Computer</a>

              <a href class="btn btn-white btn-xs col-sm-3" ng-controller="ModalFilesCtrl" ng-click="open(artifact.ArtifactsId)"><i class="fa fa-folder-open"></i> Portfolio Files</a>

              <a href ng-click="video_embed = !video_embed" class="btn btn-white btn-xs col-sm-2"><i class="fa fa-youtube-play"></i> Embed a Video</a>
            </div>
          </div>

          <div class="clearfix"></div>
          <div class="hr-line-dashed"></div>

          <!-- Additional Information -->
            <div role="group" aria-labelledby="addInfo">
            <h2 class="text-info m-t" id="addInfo">Additional Information</h2>
            <text-angular aria-label="Additional Information" tabindex="0" ng-model="artifact.ArtifactsBody" placeholder="Additional information" ng-blur="save()"></text-angular>
            </div>

        </div>

        <!-- Artifact Extras Column -->
        <div class="col-sm-4 no-padding">
          <h2 class="text-info">Artifact Questions</h2>
          <span ng-show="portfolio.PTypesMinimumPrompts > 0" class="badge badge-success m-b">
            {{ portfolio.PTypesMinimumPrompts }} items must be answered
          </span>

          <!-- All the form fields here get populated from the ArtifactExtras table for this portfolio -->
          <!-- All artifacts in a portfolio will have the same ArtifactExtras -->

          <div class="ibox float-e-margins">
            <div class="ibox-content no-padding-right">
              <qtypes
                type="Artifacts"
                ptype="{{ portfolio.PortfoliosPTypeId }}"
                userid="{{ portfolio.UsersId }}"
                disabled="false"
                artifactid="{{ artifactid }}">
              </qtypes>
            </div>
          </div>

          <!-- End ArtifactExtras Repeater -->

        </div>
      </div>

    </div>
  </div>
</div>

<div class="spacer-bottom"></div>
