<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h1><span ng-bind="standard.StandardsTitle"></span> : <span class="text-info" ng-bind="artifact.ArtifactsTitle"></span></h1>
    <nav aria-label="Breadcrumb">
    <ol class="breadcrumb">
      <li><a href="/portfolios/overview/{{ portfolio.PortfoliosId }}" ng-bind="portfolio.PTypesTitle"></a></li>
      <li><span ng-bind="standard.StandardsTitle"></span></li>
      <li class="active"><strong ng-bind="artifact.ArtifactsTitle"></strong></li>
    </ol>
  </nav>
  </div>

  <div class="col-lg-2">
    <a href ng-show="user_can_edit" class="btn btn-outline btn-primary m-t-md" ng-click="create_new()">Create new Artifact</a>
  </div>
</div>

<!-- Portfolio progress template -->
<div ng-include="'app/views/portfolios/templates/tpl-portfolio-menu-artifacts.html'" style="margin-top: 30px;"></div>

<div ng-show="artifacts.length > 0" class="row wrapper wrapper-content animated fadeInRight white-bg" style="padding: 6px;">

  <!-- Artifacts for this Standard show up here in this column -->
  <div class="col-sm-2" style="padding: 0;">
    <div ng-include="'app/views/portfolios/templates/tpl-artifact-column.html'"></div>
  </div>

  <!-- Artifact content shows up here in this column -->
  <div class="col-sm-10 border-left">
    <div class="element-detail-box">

      <!-- Artifact score template -->
      <div ng-if="artifact.Scores.length > 0 && portfolio.PTypesViewScores == 'Yes'" class="row border-bottom border-lg m-b">
        <div ng-repeat="score in artifact.Scores" class="col-sm-6">
          <div ng-include="'/app/views/scoring/' + portfolio.PTypesScoringPlugin + '/template-view.html'"></div>
        </div>
      </div>

      <!-- Artifact Title -->
      <h2 class="col-sm-8" ng-bind="artifact.ArtifactsTitle"></h2>

      <div class="btn-group pull-right">
        <!--<a href="#" class="btn btn-primary btn-sm"><i class="fa fa-download"></i> PDF Download</a>-->
        <a href="/portfolios/artifact-edit/{{ portfolio.PTypesId }}/{{ portfolio.PortfoliosId }}/{{ artifact.ArtifactsId }}" class="btn btn-white btn-sm" ng-show="user_can_edit" ng-cloak><i class="fa fa-wrench"></i> Edit</a>
        <a href="#" ng-show="me.UsersId == portfolio.PortfoliosUserId && user_can_edit" ng-cloak ng-controller="ModalDeleteCtrl" ng-click="open('artifact', artifact.ArtifactsId)" class="btn btn-danger btn-sm"><i class="fa fa-close"></i> Delete</a>
      </div>
      <div class="clearfix"></div>
      <div class="hr-line-dashed"></div>

      <!-- Artifact Asset (Files, Videos, etc.), Competencies, Info Column -->
      <div class="col-sm-8">

        <!-- Selected Compentencies Show Up Here -->
        <h2 class="text-info">Competencies Addressed</h2>
        <!-- Selected Competencies Repeater -->
        <div class="m-b" ng-repeat="row in artifact.Competencies" ng-bind="row.CompetenciesTitle"></div>
        <!-- End Competencies List -->

        <div class="hr-line-dashed"></div>

        <!-- Asset Documentation Repeater -->

        <h2 class="text-info">Documentation</h2>

        <div ng-repeat="row in artifact_documents">
          <div class="ibox float-e-margins">
            <div class="ibox-content artifact-document">
              <div ng-include="'/app/views/common/templates/document-types/' + row.MediaTypeShort + '.html'" ng-init=""></div>

              <!-- Reviewers should not see Release Forms -->
              <div class="release-forms" ng-if="user_can_score == false">
                <h3>Release forms for this documentation</h3>
                <ul>
                  <li ng-repeat="row2 in row.ReleaseForms">
                    <a ng-href="{{ row2.MediaUrl }}" ng-bind="row2.MediaName" target="_blank"></a> (<span ng-bind="row2.MediaPeople"></span>)
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- Additional Information -->
        <h2 class="text-info">Additional Information</h2>
        <p ng-bind-html="artifact.ArtifactsBody"></p>

        <!-- End Asset Documentation Repeater -->
      </div>

      <!-- Artifact Extras Column -->
      <div class="col-sm-4">
        <h2 class="text-info">Artifact Questions</h2>
        <span ng-show="portfolio.PTypesMinimumPrompts > 0" class="badge badge-success m-b">
          {{ portfolio.PTypesMinimumPrompts }} items must be answered
        </span>

        <!-- All the form fields here get populated from the ArtifactExtras table for this portfolio -->
        <!-- All artifacts in a portfolio will have the same ArtifactExtras -->

        <!-- ArtifactExtras Repeater -->
        <div class="ibox float-e-margins">
            <div class="ibox-content">
              <qtypes
                type="Artifacts"
                ptype="{{ portfolio.PortfoliosPTypeId }}"
                artifactid="{{ selected_artifact }}"
                userid="{{ portfolio.UsersId }}"
                disabled="true">
              </qtypes>
            </div>
          </div>

        <!-- End AritfactExtras Repeater -->

      </div>

    </div>
  </div>

</div>

<div ng-show="!has_artifacts" class="row wrapper wrapper-content animated fadeInRight white-bg h-300 text-center">
  <div ng-if="me.UsersId == portfolio.PortfoliosUserId" ng-cloak>
    <h1>You have no artifacts for this Standard.</h1>
    <a href class="btn btn-lg btn-primary m-t-xl" ng-click="create_new()">Create an artifact now</a>
  </div>
  <div ng-if="me.UsersId != portfolio.PortfoliosUserId" ng-cloak>
    <h1>The candidate has not created any artifacts for this Standard.</h1>
  </div>
</div>


<!-- Scoring Stuff -->
<div ng-controller="ScoringCtrl" ng-if="portfolio.PTypesScoringPlugin && user_can_score ">
  <div id="box-scoring" class="fadeInRight animated" ng-show="open_scoring_box">

    <form ng-submit="submit(portfolio.PTypesScoringPlugin, portfolio.PortfoliosId, standard.StandardsId)">
      <div class="ibox-title" style="border-bottom: 1px solid #ccc;">
        <div class="row">
          <div class="col-sm-7"><h3 ng-show="scoring.score.length > 0"><i class="fa fa-check"></i> Score: {{ scoring.score }}</h3></div>
          <div class="col-sm-5" style="text-align: right;">
            <button class="btn btn-xs btn-primary" type="submit">Save Score</button>
            <a href class="btn btn-xs btn-success" ng-click="close()"><i class="fa fa-close"></i> Close</a>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div id="box-scoring-template" ng-include="'/app/views/scoring/' + portfolio.PTypesScoringPlugin + '/template.html'"></div>
    </form>
  </div>
  <!-- Scoring Button -->
  <div id="button-scoring">
    <a href class="btn btn-rounded btn-success" ng-click="open()"><i class="fa fa-check"></i> Score this artifact</a>
  </div>
</div>
<!-- End Scoring Stuff -->

<!-- Commenting Stuff -->
<div ng-if="user_can_comment">
  <div id="box-comment" class="fadeInRight animated" ng-show="open_comment_box">
    <div ng-if="artifact.ArtifactsId" ng-include="'/app/views/common/templates/tpl-messages.html'" onload="artifactid = artifact.ArtifactsId"></div>
  </div>
  <!-- Commenting Button -->
  <div id="button-comment">
    <a href="#" class="btn btn-rounded btn-warning" ng-click="open_comment_box = !open_comment_box"aria-label="Messenger"><i class="fa fa-comments"></i>
      <span ng-if="messages_unread > 0" class="badge badge-danger">{{ messages_unread }}</span>
    </a>
  </div>
</div>
<!-- End Commenting Stuff -->

<div class="spacer-bottom"></div>
