<div class="row wrapper border-bottom white-bg page-heading">
  <h1 class="col-sm-9">{{ portfolio_data.PortfolioType.PTypesTitle }}</h1>
  <div ng-if="!user_has_submitted_for_review" class="col-sm-3">
    <a href
      class="btn btn-lg btn-danger m-t"
      ng-controller="ModalSubmitForReviewCtrl"
      ng-click="open(portfolio_data)">
      <i ng-if="submitting_portfolio" class="fa fa-refresh fa-spin"></i>
      Submit Portfolio for Review
    </a>
  </div>
  <!-- Submission success -->
  <div ng-show="portfolio_submit_success || user_has_submitted_for_review" class="col-sm-3 m-t-lg">
    <div ng-show="portfolio_submit_success">Congratulations! Your portfolio has been submitted.</div>
    <div ng-show="user_has_submitted_for_review && !portfolio_submit_success"><strong>
      {{ portfolio_data.PortfolioType.PortfoliosStatus }} on {{ portfolio_data.PortfolioType.PortfoliosUpdatedAt  | amDateFormat: 'MMMM Do YYYY' }}.</strong>
    </div>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight ui.tabs">
  <div class="row">
    <div class="col-sm-8">
      <!-- Standards and Competencies panel -->

      <!-- Oops, no standards -->
      <div class="ibox float-e-margins" ng-show="portfolio_data.data.length == 0">
        <div class="alert alert-info">
          <h2>This portfolio type does not have any standards yet.</h2>
        </div>
      </div>

      <!-- About Me -->
      <div ng-if="portfolio_data.PortfolioHasAboutMePage == 'Yes'" class="ibox float-e-margins">
        <div class="ibox-title">
          <div class="pull-left m-r">
            <a href="portfolios/aboutme/{{ portfolio_id }}">
              <img alt="Profile picture for {{ portfolio_data.PortfolioType.UsersFirstName }} {{ portfolio_data.PortfolioType.UsersLastName }}" style="width: 36px; height: 36px;" class="img-circle" ng-src="{{ portfolio_data.PortfolioType.MediaUrl }}" title="{{ portfolio_data.PortfolioType.UsersFirstName }} {{ portfolio_data.PortfolioType.UsersLastName }}" />
            </a>
          </div>
          <h3 class="m-l"><a href="portfolios/aboutme/{{ portfolio_id }}">About Me</a></h3>
        </div>
      </div>

      <!-- Portfolio Scores -->
      <div
        ng-if="
          (portfolio_data.PortfolioType.PTypesViewScores == 'Yes' &&
          portfolio_data.PortfolioType.PortfoliosStatus == 'Scored and Released to Candidate') ||
            me.IsReviewer == 'Yes' ||
            me.IsAdmin == 'Yes'"
        class="ibox float-e-margins"
      >
        <div class="ibox-title">
          <h3 class="m-l"><a href="portfolios/scores/{{ portfolio_id }}">Portfolio Scores</a></h3>
        </div>
      </div>

      <!-- Standard Repeater -->
      <div class="ibox float-e-margins" ng-show="portfolio_data.data.length > 0" ng-repeat="row in portfolio_data.data">
        <div class="ibox-title">
          <div class="col-sm-10">
            <h3 class="pull-left m-r"><a href="portfolios/artifact/{{ portfolio_id }}/{{ row.StandardsId }}">{{ row.StandardsTitle }}</a></h3>

            <p class="m-t-xs">({{ row.Competencies.length }} competencies)</p>
          </div>
          <div class="col-sm-2">
            <div ibox-tools></div>
          </div>
        </div>
        <div class="ibox-content" style="display: none;">
          <div class="table-responsive">
            <table class="table table-striped table-hover">
              <tbody>
                <!-- Competency repeater for this Standard -->
                <tr ng-repeat="comp in row.Competencies">
                  <td class="col-sm-9">
                    <p class="checkmark" ng-class="
                        {'checkmark-full': comp.Completion == 'complete',
                        'checkmark-half': comp.Completion == 'partially-complete',
                        'checkmark-empty': comp.Completion == 'incomplete',
                        }
                      "><strong>{{ comp.Title }}</strong><br /><br />
                      <span ng-show="comp.Artifact">
                        <small class="muted">In artifact </small>
                        <a href="portfolios/artifact/{{ portfolio_id }}/{{ row.StandardsId }}/{{ comp.Artifact.ArtifactsId }}" title="View this artifact">
                          <strong>{{ comp.Artifact.ArtifactsTitle }}</strong>
                        </a>
                      </span>

                      <!--
                      <a href="portfolios/artifact/{{ portfolio_id }}/{{ row.StandardsId }}" ng-hide="comp.Artifact" title="Create artifact"><i class="fa fa-plus-circle"></i> Create an artifact</a>
                      -->

                      <span ng-hide="comp.Artifact" class="text-danger"><i class="fa fa-warning"></i> Competency not addressed.</span>

                    </p>
                  </td>
                  <td class="col-sm-3">
                    <!-- Artifact file repeater -->
                    <div ng-repeat="file in comp.Artifact.Media">
                      <span class="file-icon file-icon-{{ file.MediaTypeShort }}" tooltip-placement="top" uib-tooltip="{{ file.MediaName }}" title="{{ file.MediaName }}"></span>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- End Standard Repeater -->

    </div>
    <div class="col-sm-4">

      <!-- Messages, Notifications panel -->

      <div ng-include="'app/views/common/templates/tpl-messages-notifications.html'" tabindex="0" aria-label="Messages" ng-init=""></div>

    </div>
  </div>
</div>
<div class="spacer-bottom"></div>
