<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h1>Portfolio Scores</h1>
    <nav aria-label="Breadcrumb">
    <ol class="breadcrumb">
      <li>
        <a href="/portfolios/overview/{{ portfolio.PortfoliosId }}" ng-bind="portfolio.PTypesTitle"></a>
      </li>
      <li class="active">
        <strong>Portfolio Scores</strong>
      </li>
    </ol>
  </nav>
  </div>
  <div class="col-lg-2"></div>
</div>

<!-- Portfolio progress template -->
<div ng-include="'app/views/portfolios/templates/tpl-portfolio-menu-artifacts.html'" style="margin-top: 30px;"></div>

<div class="row wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-sm-12">

      <!-- Total Portfolio Score and IOA -->
      <div class="ibox float-e-margins">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3 text-center">
            <!-- Only show score to Administrators or Candidate, NOT Reviewer or Mentor -->
            <div ng-if="!user_can_score" style="margin: 0 auto;" class="col-sm-6 text-center">
              <h1 class="no-margins text-freakin-huge" ng-class="{'text-danger': portfolio.PortfoliosPassFail == 'Fail' , 'text-info': portfolio.PortfoliosPassFail == 'Pass'}">{{ portfolio.PortfoliosScore }}%</h1>
              <strong class="uppercase">Total Score: {{ portfolio.PortfoliosScoreText }}</strong>
            </div>

            <!-- Only show IOA match to Administrators -->
            <div ng-if="me.IsAdmin == 'Yes'" class="col-sm-6 text-center">
              <h1 class="no-margins text-info text-freakin-huge" ng-class="{'text-danger': portfolio.PortfoliosIOAPercentage < portfolio.PTYpesIOAThreshold , 'text-info': portfolio.PortfoliosIOAPercentage >= portfolio.PTYpesIOAThreshold}">{{ portfolio.PortfoliosIOAPercentage }}%</h1>
              <strong ng-if="portfolio.PortfoliosIOAPercentage >= portfolio.PTYpesIOAThreshold" class="uppercase">IOA, YES</strong>
              <strong ng-if="portfolio.PortfoliosIOAPercentage < portfolio.PTYpesIOAThreshold" class="uppercase">IOA, NO</strong>
            </div>
          </div>
        </div>
      </div>
      <!-- End Total Portfolio Score and IOA -->

      <!-- Comments Entry section for Reviewers -->
      <div ng-if="user_can_score && (portfolio.PortfoliosStatus == 'In Review' || portfolio.PortfoliosStatus == 'Submitted for Review')">
        <form ng-submit="save_comments()">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <div class="row">
                <h2 class="col-sm-10">Reviewer Comments</h2>
                <button class="btn btn-sm btn-primary">Save Comments</button>
              </div>
            </div>
            <div class="ibox-content">
              <div class="row">
                <div class="col-sm-4 form-group">
                  <label>Strengths</label>
                  <textarea ng-model="fields.CommentsStrengths" class="form-control" rows="4"></textarea>
                </div>
                <div class="col-sm-4 form-group">
                  <label>Areas for improvement</label>
                  <textarea ng-model="fields.CommentsAreasImprovement" class="form-control" rows="4"></textarea>
                </div>
                <div class="col-sm-4 form-group">
                  <label>Overall comments</label>
                  <textarea ng-model="fields.CommentsOverall" class="form-control" rows="4"></textarea>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div> <!-- End ng-if -->

      <!-- Comments Read-only section: Everyone can see this. -->
      <!-- 1/23/2018: Removed restriction on comments so that candidate can see them now as well. -->
      <!-- 3/12/2019: Removed restriction on comments so that Mentors can see them now as well. -->
      <!-- <div ng-if="user_can_score || me.IsAdmin == 'Yes'"> -->
      <div>
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <div class="row">
              <h2 class="col-sm-10">Reviewer Comments</h2>
              <div class="col-sm-2">
                <div ibox-tools></div>
              </div>
            </div>
          </div>
          <div class="ibox-content" style="display: none;">
            <!-- If admin, I can see names. If candidate I cannot see reviewer names -->
            <div class="row p-sm m-b" ng-repeat="comment in portfolio.ReviewerComments">

              <!-- Only admins should see reviewer names -->
              <h3 ng-if="me.IsAdmin == 'Yes'">
                {{comment.UsersFirstName}} {{comment.UsersLastName}}
              </h3>

              <!-- Reviewers should only see their comments - not comments from other reviewers -->
              <!-- 1/23/2018: Modified the following conditional so that candidates can view OVERALL portfolio scores from reviewers -->
              <!-- 3/12/2019: Modified the following conditional so that Mentors can view OVERALL portfolio scores from reviewers -->
              <!-- is_my_portfolio == true -->
              <div ng-if="
                me.UsersId == comment.PortfolioReviewerCommentsUsersId ||
                is_my_portfolio == true ||
                me.IsAdmin == 'Yes' ||
                me.IsMentor == 'Yes'
              ">
                <div class="col-sm-4">
                  <strong>Strengths</strong>
                  <div ng-bind-html="comment.PortfolioReviewerCommentsStrengths | linky" style="white-space: pre-wrap;"></div>
                </div>
                <div class="col-sm-4">
                  <strong>Areas for improvement</strong>
                  <div ng-bind-html="comment.PortfolioReviewerCommentsAreasOfImprovement | linky" style="white-space: pre-wrap;"></div>
                </div>
                <div class="col-sm-4">
                  <strong>Overall comments</strong>
                  <div ng-bind-html="comment.PortfolioReviewerCommentsOverall | linky" style="white-space: pre-wrap;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- End Reviewer comments section -->

      <div class="ibox float-e-margins" ng-repeat="row in data">
        <div class="ibox-title">
          <div class="col-sm-10">
            <!-- Scoring completion indicator -->
            <p class="checkmark pull-left" ng-class="
              {'checkmark-full': row.ScoringPercentage == '100',
              'checkmark-half': row.ScoringPercentage > '0',
              'checkmark-empty': row.ScoringPercentage == '0',
              }
            ">
            <h3 class="pull-left m-r" style="margin-top: 0px;"><a href="portfolios/artifact/{{ portfolio_id }}/{{ row.StandardsId }}">{{ row.StandardsTitle }}</a>
                ({{ row.ScoringRatio.scored_artifact_count }} of {{ row.ScoringRatio.artifact_count }} artifacts scored)</h3>

            <!-- Failed standard/artifact notification -->
            <span
              class="label label-warning"
              ng-if="row.ScoringError == 'Yes' && (!user_can_score || me.IsAdmin == 'Yes')"
            >{{ row.ScoringErrorsCount }}</span>

            <!-- IOA Pass/Fail notification (only Admins can see this. Not important to anyone else.) -->
            <span ng-if="me.IsAdmin == 'Yes'">
              <span
                class="label label-primary"
                ng-if="row.ScoringRatio.scored_artifact_count > 0 && row.StandardIOAPercentage >= portfolio.PTYpesIOAThreshold"
              >IOA</span>
              <span
                class="label label-danger"
                ng-if="row.ScoringRatio.scored_artifact_count > 0 && row.StandardIOAPercentage < portfolio.PTYpesIOAThreshold"
              >IOA</span>
            </span>
          </div>
          <div class="col-sm-2">
            <div ibox-tools></div>
          </div>
        </div>

        <div class="ibox-content" style="display: none;">

          <!-- Score data goes here. We need to pull in a Plugin specific template
          // to display the data -->
          <div ng-repeat="artifact in row.Artifacts" class="m-b-lg">
            <div class="ibox-heading" style="padding: 14px 15px 7px; position: relative;">
              <h4><a href="portfolios/artifact/{{ portfolio_id }}/{{ row.StandardsId }}/{{ artifact.ArtifactsId }}">{{ artifact.ArtifactsTitle }}</a></h4>
            </div>

            <div class="row">
              <div
                ng-repeat="score in artifact.Scores"
                ng-class="
                  {
                    'col-sm-6': artifact.Scores.length < '3' || portfolio.PortfoliosUserId == me.UsersId,
                    'col-sm-4': artifact.Scores.length == '3'
                  }
                ">
                <div ng-include="'/app/views/scoring/' + portfolio.PTypesScoringPlugin + '/template-view.html'"></div>
              </div>
            </div>
          </div>
        </div> <!-- End ibox-content -->

      </div>
    </div>
  </div>
</div>
<div class="spacer-bottom"></div>
