<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h1>Contact Messages</h1>
  </div>
  <div class="col-lg-2"></div>
</div>

<div class="row wrapper wrapper-content animated fadeInRight">
  <div class="ibox">
    <div class="ibox-content">
      <div class="table-responsive m-t">
        <table class="table table-striped table-hover">
          <tbody>
            <tr ng-repeat="row in messages" class="repeat-item">
              <td class="feed-element col-sm-1">
                <img alt="image" class="img-circle" ng-src="{{ row.MediaUrl }}" title="{{ row.UsersFirstName }} {{ row.UsersLastName }}" />
              </td>
              <td class="feed-element col-sm-2">
                {{ row.ContactCreatedAt | dateToISO | date:'MMM d, yyyy' }}
              </td>
              <td>
                <a href ng-click="client_show(row)"><strong>{{ row.UsersFirstName }} {{ row.UsersLastName }}</strong>
                </a>
                <small class="muted">{{ row.UsersInstitution }}</small>                     <small class="muted" ng-if="row.UsersState">, {{ row.UsersState }}</small><br />
                <i class="fa fa-envelope"></i> <a href="mailto:{{ row.UsersEmail }}">{{ row.UsersEmail }}</a>

                <div class="m-t-md">{{ row.ContactBody }}</div>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>
