<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h1>Help &amp; Tutorials</h1>
  </div>
  <div class="col-lg-2"></div>
</div>

<div class="row wrapper wrapper-content animated fadeInRight">
  <div class="ibox">
    <div class="ibox-title">
      <h2 class="col-sm-9">Contact the Venture Team</h2>
      <div class="col-lg-3" ng-if="me.IsAdmin == 'Yes'">
        <a href="/help/contact-list" class="btn btn-xs btn-primary">View Contact Messages</a>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="ibox-content">
      <div class="col-sm-6">
        <form ng-submit="submit()">
          <p> <label for="tbox">Use this form to report any difficulties or questions related to Venture.  For questions about the NICE process or your portfolio, <strong>please contact your mentor</strong> by using the message box on your dashboard.</label></p>

          <div ng-if="message_success == true" class="alert alert-success">Thank you for contacting the Venture team.  We'll be in touch!</div>

          <textarea class="form-control" rows="8" ng-model="contact_body" id="tbox"></textarea>
          <div class="m-t">
            <button class="btn btn-primary"><i class="fa fa-send"></i> Send Message</button>
          </div>
        </form>
      </div>
      <div class="col-sm-6">
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<div class="spacer-bottom"></div>
