<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h1>Help &amp; Tutorials : <span class="text-info">Reviewer Training</span></h1>
  </div>
  <div class="col-lg-2"></div>
</div>

<div class="row wrapper wrapper-content animated fadeInRight">
  <div class="ibox">
    <div class="ibox-title">
      <h2>Welcome to the NICE Reviewer and Adviser training</h2>
    </div>
    <div class="ibox-content m-b">
      Please download the documents and view the screencasts below to become familiar with the training materials and review process. If you have questions regarding the training materials, contact the Paraprofessional Resource and Research (PAR2A) Center at <a href="mailto:NICE.ReviewBoard@ucdenver.edu">NICE.ReviewBoard@ucdenver.edu</a>.
    </div>

    <div class="ibox-title">
      <h2>Important Documents</h2>
    </div>
    <div class="ibox-content m-b">
      <div class="col-sm-7">
        <p>
          The <strong>Reviewer Handbook</strong> is the backbone of NICE. It is designed to create efficacy and equity in the review process.
        </p>
        <p>
          For additional clarity about the scope of the reviewer and adviser roles, please review the <strong>NICE Review Board Service Agreement</strong> as well as the <strong>NICE Roles and Responsibilities</strong>.
        </p>
      </div>
      <div class="col-sm-5">
        <h3><span class="fa fa-file-pdf-o"></span>
          <a href="http://documents.ourventure.org/reviewers/Reviewer-Handbook.pdf" target="_blank">Reviewer Handbook</a></h3>
        <h3><span class="fa fa-file-pdf-o"></span>
          <a href="http://documents.ourventure.org/reviewers/NICE-Reviewer-Adviser-Agreement.pdf" target="_blank">NICE Review Board Service Agreement</a></h3>
        <h3><span class="fa fa-file-pdf-o"></span>
          <a href="http://documents.ourventure.org/reviewers/NICE-Roles-Responsibilities.pdf" target="_blank">NICE Roles and Responsibilities</a></h3>
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="ibox-title">
      <h2>Screencasts for Reviewers</h2>
    </div>
    <div class="ibox-content m-b">
      <div class="col-sm-4">
        <iframe width=340" height="180" src="https://www.youtube.com/embed/5NrXVjeqd9A?rel=0" frameborder="0" allowfullscreen></iframe>
        <h3>Navigating Candidate Portfolios</h3>
      </div>
      <div class="col-sm-4">
        <iframe width="340" height="180" src="https://www.youtube.com/embed/2h0YHv48UzE?rel=0" frameborder="0" allowfullscreen></iframe>
        <h3>Leaving a score in Venture</h3>
      </div>
      <div class="col-sm-4">
        <iframe width="340" height="180" src="https://www.youtube.com/embed/660RdBu9t-I?rel=0" frameborder="0" allowfullscreen></iframe>
        <h3>Messaging in Venture</h3>
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="ibox-title">
      <h2>Sample Review</h2>
    </div>
    <div class="ibox-content m-b">
      <div class="col-sm-7">
        <p>
          The purpose of the Sample Portfolio is to provide an opportunity to hone your review skills. After viewing the screencast, go to your dashboard and enter the sample portfolio. In total, there are <strong>three artifacts</strong> that you can use for practice. They span the spectrum from advanced to emerging. Please score each artifact and leave feedback. Your feedback will help us identify strengths and weaknesses in your individual review, as well as issues important to the entire the review board.
        </p>
        <p>
          See <strong>Tips for Reviewing</strong> for key points to keep in mind during your review.
        </p>
      </div>
      <div class="col-sm-5">
        <h3><span class="fa fa-folder-open-o"></span> <a href="https://ourventure.org/portfolios/scores/22">NICE Sample Portfolio</a></h3>
        <h3><span class="fa fa-file-pdf-o"></span> &nbsp;
          <a href="http://documents.ourventure.org/reviewers/NICE-Tips-for-Reviewing.pdf" target="_blank">Tips for Reviewing</a></h3>
          <iframe width="340" height="180" src="https://www.youtube.com/embed/oKhFxQmd0Lc?rel=0" frameborder="0" allowfullscreen></iframe>
          <h3>Sample portfolio screencast</h3>
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="ibox-title">
      <h2>Venture Review Process and Protocol Quiz</h2>
    </div>
    <div class="ibox-content m-b">
      <div class="col-sm-7">
        Now that you have reviewed the training materials, please take the <strong>NICE Review and Advisory Board Reviewing Quiz</strong>. This will serve as your marker of completion in the NICE Reviewer Training.
      </div>
      <div class="col-sm-5">
        <h3><span class="fa fa-check"></span> <a href="https://goo.gl/forms/igZeu3nmTYqYdteg2" target="_blank">NICE Review and Advisory Board Reviewing Quiz</a></h3>
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="ibox-title">
      <h2>Additional Resources</h2>
    </div>
    <div class="ibox-content">
      <h3><span class="fa fa-file-pdf-o"></span> &nbsp;<a href="http://documents.ourventure.org/reviewers/Review-Process-Flowchart.pdf" target="_blank">Review Process at a Glance</a></h3>
      <h3><span class="fa fa-file-pdf-o"></span> &nbsp;<a href="http://documents.nationaldb.org/nice/NICEM1PoliciesandProcedures.pdf" target="_blank">Applying for NICE Certification: Policies and Procedures</a></h3>
      <h3><span class="fa fa-file-pdf-o"></span> &nbsp;<a href="http://documents.nationaldb.org/nice/NICE_Module1_Outline_v2_a.pdf" target="_blank">NICE Module 1 - Using an E-Portfolio to Demonstrate Competency: Outline</a></h3>
      <p class="m-l-sm col-sm-6">
        This module was developed for candidates and mentors to learn about the NICE process. It contains all of the documents candidates need to engage in the process and slide presentations that describe how to create the content for an e-portfolio.<br />
        <!--<a href="http://documents.ourventure.org/reviewers/NICE-Module-1-Outline.html" target="_blank"><strong>HTML Version</strong></a>-->
      </p>
      <div class="clearfix"></div>

      <h3><span class="fa fa-file-pdf-o"></span> &nbsp;<a href="http://documents.nationaldb.org/nice/NICE_Module2_Outline_v2_a.pdf" target="_blank">NICE Module 2 - Learning to Use Venture: Outline</a></h3>
      <p class="m-l-sm col-sm-6">
        Module 1 described how to create the content for a portfolio. This second module describes how to put that content into Venture, as well as how to navigate the Venture system.<br />
        <!--<a href="http://documents.ourventure.org/reviewers/NICE-Module-1-Outline.html" target="_blank"><strong>HTML Version</strong></a>-->
      </p>
      <div class="clearfix"></div>

      <h3><span class="fa fa-file-powerpoint-o"></span> &nbsp;<a href="http://hknc.adobeconnect.com/pzv2rixld0/" target="_blank">November 4th Meeting</a></h3>
      <h3><span class="fa fa-desktop"></span> &nbsp;<a href="
http://hknc.adobeconnect.com/p97uhd7yqu9/" target="_blank">January Review Board Meeting Recording</a></h3>
    </div>

  </div>
</div>
<div class="spacer-bottom"></div>
