<div class="form-group">
  <label>{{ q.questionLabel }}</label>
  <div ng-repeat="val in q.questionValues" class="checkbox checkbox-info">
    <input ng-true-value="'{{val}}'" ng-false-value="" type="checkbox" id="checkbox-{{$index}}" value="{{val}}" /> <label for="checkbox-{{$index}}">{{val}}</label>
  </div>

  <input type="text" placeholder="Other" class="form-control" />
</div>
