<div class="form-group">
  <label>{{ q.questionLabel }}</label>
  <div class="input-group" ng-controller="DatepickerCtrl">
    <input
           ng-click="datePickerOpen()"
           uib-datepicker-popup="{{format}}"
           type="datetime"
           class="form-control"
           ng-model="hey"
           placeholder="Select a date"
           is-open="datePickerIsOpen" />
    <span class="input-group-addon">
      <a href="#" ng-click="datePickerOpen()"><i class="fa fa-calendar"></i></a>
    </span>
  </div>
</div>
