<div class="form-group">
  <label>{{ q.questionLabel }}</label><br />
  <div ng-repeat="val in q.questionValues" class="radio radio-info radio-inline">
    <input id="radio-{{$index}}" ng-true-value="'{{val}}'" ng-false-value="" type="radio" name="radio" value="{{val}}" /> <label for="radio-{{$index}}">{{val}}</label>
  </div>
</div>
