<div class="form-group">
  <label>{{ q.questionLabel }}</label>
  <select name="" class="form-control">
    <option ng-repeat="val in q.questionValues" value="{{val}}">{{ val }}</option>
  </select>
</div>
