<!-- Multiline text area -->
<div class="form-group">
    <p><label for="multiBox">{{ q.questionLabel }}</label></p>
  <textarea class="form-control" rows="5" role="textbox" aria-multiline = "true" id="multiBox"></textarea>
</div>