<!-- Single line text box -->
<div class="form-group" >
    <p><label for="singleBox">{{ q.questionLabel }}</label></p>
  <input type="text" role="textbox" class="form-control" id="singleBox"/>
</div> 