<div>
  <h1><i class="fa fa-user-plus"></i> {{ q.questionLabel }}</h1>
  <div class="hr-line-dashed"></div>

  <div class="row">
    <div class="col-sm-6 form-group">
      <label>Upload Photo of Client</label>
      <input type="file" class="form-control" />
    </div>
    <div class="col-sm-6 form-group">
      <label>Upload Release Form for Client</label>
      <input type="file" class="form-control" />
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 form-group">
      <label>Pseudonym</label>
      <input type="text" class="form-control" />
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 form-group">
      <label>Etiology, if known (please include age)</label>
      <input type="text" class="form-control" />
    </div>
    <div class="col-sm-6 form-group">
      <label>What usable vision does your client have?</label>
      <input type="text" class="form-control" />
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 form-group">
      <label>What usable hearing does your client have?</label>
      <input type="text" class="form-control" />
    </div>
    <div class="col-sm-6 form-group">
      <label>What methods do you use to communicate?</label>
      <textarea rows="3" class="form-control"></textarea>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 form-group">
      <label>What is the level of your client’s social interaction?</label>
      <textarea rows="3" class="form-control"></textarea>
    </div>
    <div class="col-sm-6 form-group">
      <label>Who are the members on your client's team?</label>
      <textarea rows="3" class="form-control"></textarea>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 form-group">
      <label>Are there any environmental requirements?</label>
      <textarea rows="3" class="form-control"></textarea>
    </div>
    <div class="col-sm-6 form-group">
    </div>
  </div>

</div>
<!--
Photo of student
•	Pseudonym in exchange for Student’s Name:
•	What is your client’s etiology - if known (please include age)
•	What usable vision does your client have?
•	What usable hearing does your client have?
•	What methods do you use to communicate with your client?
•	What is the level of your client’s social interaction?
•	Who are the members on your client's team?
•	Are there any environmental requirements?
-->
