<div class="ibox" ng-show="show_user.UsersFirstName">
    <div class="ibox-content member-box">
      <!-- Avatar, info row -->
      <div class="row border-bottom member-info">
        <div class="col-sm-2">
          <img alt="Profile picture for {{show_user.UsersFirstName}} {{show_user.UsersLastName}}" class="img-circle avatar-48" ng-src="{{ show_user.MediaUrl }}" title="{{ show_user.UsersFirstName }} {{ show_user.UsersLastName }}" />
        </div>
        <div class="col-sm-10">
          <h2 class="m-b-xs">
            <strong>{{ show_user.UsersFirstName }} {{ show_user.UsersLastName }}</strong>
          </h2>
          <div class="m-b">
            <strong>{{ show_user.UsersTitle }}</strong> {{ show_user.UsersInstitution }}<br />
            <i class="fa fa-envelope"></i> <a href="mailto:{{ show_user.UsersEmail }}">{{ show_user.UsersEmail }}</a>
          </div>
        </div>
      </div>
      <!-- End avatar, info row -->
      <!-- Mentor, Reviewer assignment row -->
      <div class="row border-bottom m-t member-assignments">
        <div class="col-sm-6 m-b">
          <div ng-if="show_user.Assigned_users.length > 0">
            <div>
              <p class="badge badge-info">Mentors</p>
              <div ng-repeat="u in show_user.Assigned_users">
                <span ng-if="u.PortfolioUserLuUserType == 'Mentor'">
                  <a href ng-click="remove_assigned(u.PortfolioUserLuId)" title="Remove this mentor"><i class="fa fa-close text-danger"></i></a> {{ u.UsersFirstName }} {{ u.UsersLastName }}
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 m-b">
          <div ng-if="show_user.Assigned_users.length > 0">
            <div>
              <p class="badge badge-warning">Reviewers</p>
              <div ng-repeat="u in show_user.Assigned_users">
                <span ng-if="u.PortfolioUserLuUserType == 'Reviewer'">
                  <a href ng-click="remove_assigned(u.PortfolioUserLuId)" title="Remove this reviewer"><i class="fa fa-close text-danger"></i></a> {{ u.UsersFirstName }} {{ u.UsersLastName }} <i ng-if="u.PortfolioUserLuScoringComplete == 'Yes'" class="fa fa-check text-success" title="Review complete"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Mentor, Reviewer assignment row -->

      <!-- Portfolio Completion, Score row -->
      <div class="row m-t member-scoring">
        <div class="col-sm-6 m-b">
          <span>
            <small class="text-muted">{{ show_user.PortfoliosStatus }} {{ show_user.PortfoliosCompletionPercentage }}% Complete</small>
          </span>
          <div class="progress progress-mini">
            <div style="width: {{ show_user.PortfoliosCompletionPercentage }}%;" class="progress-bar progress-bar-info"></div>
          </div>
        </div>
        <div class="col-sm-3 m-b">
          <div ng-if="show_user.PortfoliosScore > 0">
            <h1 class="no-margins" ng-class="{'text-danger': show_user.PortfoliosPassFail == 'Fail' , 'text-info': show_user.PortfoliosPassFail == 'Pass'}">{{ show_user.PortfoliosScore }}%</h1>
            <small><strong class="uppercase">{{ show_user.PortfoliosScoreText }}</strong></small>
          </div>
        </div>
        <div class="col-sm-3 m-b">
          <div ng-if="show_user.PortfoliosIOAPercentage > 0">
            <h1 class="no-margins text-info" ng-class="{'text-danger': show_user.PortfoliosIOAPercentage < show_user.PTYpesIOAThreshold , 'text-info': show_user.PortfoliosIOAPercentage >= show_user.PTYpesIOAThreshold}">{{ show_user.PortfoliosIOAPercentage }}%</h1>
            <small ng-if="show_user.PortfoliosIOAPercentage >= show_user.PTYpesIOAThreshold"><strong class="uppercase">IOA, YES</strong></small>
            <small ng-if="show_user.PortfoliosIOAPercentage < show_user.PTYpesIOAThreshold"><strong class="uppercase">IOA, NO</strong></small>
          </div>
        </div>
      </div>
      <!-- End Portfolio Completion, Score row -->

      <!-- Menu button row -->
      <div class="row m-t-sm">
        <div class="btn-group pull-right m-r" uib-dropdown>
          <button type="button" class="btn btn-primary btn-xs dropdown-toggle" uib-dropdown-toggle>
              Menu <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
              <li>
                <a href="/portfolios/aboutme/{{ show_user.PortfoliosId }}">
                  <i class="fa fa-folder-open"></i> View candidate portfolio
                </a>
              </li>
              <li>
                <a href ng-controller="ModalAssignPeopleToCandidateCtrl" ng-click="open(ptype_id, show_user.UsersId, show_user.PortfoliosId)">
                  <i class="fa fa-user-plus"></i> Assign mentors &amp; reviewers
                </a>
              </li>
              <li>
                <a href ng-click="go_to_user_account(show_user.UsersId)">
                  <i class="fa fa-user-secret"></i> Masquerade as this user
                </a>
              </li>
              <li>
                <a href="/users/edit/{{show_user.UsersId}}">
                  <i class="fa fa-pencil"></i> Edit this user
                </a>
              </li>
              <!-- Removed ng-if="row.PortfoliosStatus == 'Submitted for Review'" Just let admins always have access to this link. -->
              <li>
                <a href ng-click="reopen_portfolio(show_user.PortfoliosId)">
                  <i class="fa fa-folder-open"></i> Reopen portfolio for editing
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href ng-controller="ModalRemoveCtrl" ng-click="open(show_user.UsersId, 'candidate', show_user.PortfoliosId, $index)">
                  <span class="text-danger">
                    <i class="fa fa-minus-circle"></i> Remove this candidate
                  </span>
                </a>
              </li>
          </ul>
        </div>
      </div>
      <!-- End menu button row -->

  </div>
</div>
