<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h1>Users</h1>
    <nav aria-label="Breadcrumb">
    <ol class="breadcrumb">
      <li>
        <a href="/dashboard/account-owner">Dashboard</a>
      </li>
      <li class="active">
        <strong>Users</strong>
      </li>
    </ol>
  </nav>
  </div>
  <div class="col-lg-2">
    <a href="/users/add" class="btn btn-block btn-outline btn-primary m-t-md">Create User</a>
  </div>
</div>

<div class="row wrapper wrapper-content animated " style="padding: 6px;">

    <!-- User list panel -->

    <div class="col-sm-8">
      <div class="ibox">
        <div class="ibox-content">
          <!-- Search box -->
          <div class="input-group col-sm-8">
            <input type="text" aria-label="Search users" class="form-control" placeholder="Search users" ng-model="search" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-primary">Go!</button>
            </span>
          </div>

          <!-- End Search box :: Begin user list -->

          <div class="table-responsive m-t">
              <table class="table table-striped table-hover">
                  <tbody>
                  <tr ng-repeat="row in users | filter:search" class="repeat-item">
                    <td class="feed-element">
                      <img alt="Profile picture for {{row.UsersFirstName}} {{row.UsersLastName}}" class="img-circle" ng-src="{{ row.MediaUrl }}" title="{{ row.UsersFirstName }} {{ row.UsersLastName }}" />
                    </td>
                    <td>
                      <a href ng-click="client_show(row)"><strong>{{ row.UsersFirstName }} {{ row.UsersLastName }}</strong>
                      </a>
                      <small class="muted">{{ row.UsersInstitution }}</small>
                      <small class="muted" ng-if="row.UsersState">, {{ row.UsersState }}</small><br />
                      <i class="fa fa-envelope"></i> <a href="mailto:{{ row.UsersEmail }}">{{ row.UsersEmail }}</a>
                    </td>
                    <td>
                      <!-- TODO: make this a directive, we don't wanna have to write this 100 places -->
                      <span ng-if="row.IsCandidate == 'Yes'" class="label label-primary">Candidate</span>
                      <span ng-if="row.IsMentor == 'Yes'" class="label label-info">Mentor</span>
                      <span ng-if="row.IsReviewer == 'Yes'" class="label label-warning">Reviewer</span>
                      <span ng-if="row.IsAdmin == 'Yes'" class="label label-success">Admin</span>
                    </td>
                    <td class="col-sm-2">
                      <div class="btn-group pull-right" uib-dropdown>
                          <button type="button" class="btn btn-white btn-sm dropdown-toggle" uib-dropdown-toggle>
                              Menu <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" role="menu">
                            <li>
                              <a href ng-click="client_show(row)">
                                <i class="fa fa-user-secret"></i> View user details
                              </a>
                            </li>
                            <li>
                              <a href ng-click="go_to_user_account(row.UsersId)">
                                <i class="fa fa-user-secret"></i> Masquerade as this user
                              </a>
                            </li>
                            <li>
                              <a href ng-click="send_welcome_email(row.UsersId)">
                                <i class="fa fa-refresh"></i> Resend welcome email
                              </a>
                            </li>
                            <li>
                              <a href="/users/edit/{{row.UsersId}}">
                                <i class="fa fa-pencil"></i> Edit this user
                              </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                              <a href ng-controller="ModalDeleteCtrl" ng-click="open('user', row.UsersId, $index)">
                                <span class="text-danger">
                                  <i class="fa fa-minus-circle"></i> Delete this user
                                </span>
                              </a>
                            </li>
                          </ul>
                      </div>
                    </td>
                  </tr>
                </tbody>
            </table>
            <!-- Bottom spacer to accommodate menu in last row -->
            <div  style="height: 250px;"></div>
          </div>

          <!-- End user list -->
          <!-- Bottom spacer to accommodate menu in last row -->
          <div  style="height: 250px;"></div>

        </div>
      </div>
    </div>

    <!-- End User List Panel -->
    <!-- User View Panel -->
    <div class="col-sm-4" set-class-when-at-top="fix-to-top panel-right">
      <div ng-include="'app/views/common/templates/user-detail/tpl-user-details.html'"></div>
    </div>


    <!-- End User View Panel -->
</div>
