<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
      <h1>{{ page_title }}</h1>
    <nav aria-label="Breadcrumb">
    <ol class="breadcrumb">
      <li>
        <a href="/dashboard/account-owner">Account Owner Dashboard</a>
      </li>
      <li class="active">
        <a href="/users">Users</a>
      </li>
      <li class="active">
        <strong>{{ page_title }}</strong>
      </li>
    </ol>
  </nav>
  </div>
  <div class="col-lg-2"></div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h2>{{ page_title }}</h2>
    </div>
    <div class="ibox-content">
      <div class="row">

        <form ng-submit="submit()" class="form-horizontal">

          <div class="col-lg-7">
            <div class="form-group" ng-class="{ error: errors.UsersFirstName }">
              <label class="col-sm-4 control-label">First Name</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" ng-model="fields.UsersFirstName">
                <field-error message="{{ errors.UsersFirstName }}"></field-error>
              </div>
            </div>

            <div class="form-group" ng-class="{ error: errors.UsersLastName }">
              <label class="col-sm-4 control-label">Last Name</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" ng-model="fields.UsersLastName">
                <field-error message="{{ errors.UsersLastName }}"></field-error>
              </div>
            </div>

            <div class="form-group" ng-class="{ error: errors.UsersTitle }">
              <label class="col-sm-4 control-label">Title</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" ng-model="fields.UsersTitle">
              </div>
            </div>

            <div class="form-group" ng-class="{ error: errors.UsersInstitution }">
              <label class="col-sm-4 control-label">Institution</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" ng-model="fields.UsersInstitution">
              </div>
            </div>

            <div class="form-group" ng-class="{ error: errors.UsersState }">
              <label class="col-sm-4 control-label">Home State</label>
              <div class="col-sm-8">
                <select class="form-control" ng-model="fields.UsersState">
                  <option ng-repeat="(key, state) in states" value="{{ key }}">{{ state }}</option>
                </select>
              </div>
            </div>

            <div class="form-group" ng-class="{ error: errors.UsersEmail }">
              <label class="col-sm-4 control-label">Email Address</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" ng-model="fields.UsersEmail">
                <field-error message="{{ errors.UsersEmail }}"></field-error>
              </div>
            </div>
          </div>

          <div class="col-lg-5">
            <div class="form-group">
              <label class="control-label">This user is a</label>
              <div>
                <div class="checkbox checkbox-info">
                  <input type="checkbox" ng-model="fields.AcctUsersLuCandidate" ng-true-value="'Yes'" ng-false-value="'No'" id="chk-candidate" />
                  <label for="chk-candidate">Candidate</label><br />
                  <input type="checkbox" ng-model="fields.AcctUsersLuMentor" ng-true-value="'Yes'" ng-false-value="'No'" id="chk-mentor" />
                  <label for="chk-mentor">Mentor</label><br />
                  <input type="checkbox" ng-model="fields.AcctUsersLuReviewer" ng-true-value="'Yes'" ng-false-value="'No'" id="chk-reviewer" />
                  <label for="chk-reviewer">Reviewer</label><br />
                  <input type="checkbox" ng-model="fields.AcctUsersLuAdmin" ng-true-value="'Yes'" ng-false-value="'No'" id="chk-admin" />
                  <label for="chk-admin">Account Admin</label>
                </div>
              </div>
            </div>
            <div class="clearfix"><hr /></div>

            <!-- If candidate, assign user to portfolio types -->
            <div class="form-group" ng-if="fields.AcctUsersLuCandidate == 'Yes'">
              <label class="control-label">Assign candidate to Portfolio Types</label>
              <div>
                <div class="checkbox checkbox-info" ng-repeat="p in account.PTypes">
                  <input type="checkbox" ng-model="fields.PTypesAssigned[p.PTypesId]" ng-true-value="'Yes'" ng-false-value="'No'" id="chk-ptype-{{$index}}" />
                  <label for="chk-ptype-{{$index}}">{{ p.PTypesTitle }}</label><br />
                </div>
              </div>
            </div>

            <!-- If admin, who do they receive in-app messages from? -->
            <div class="form-group" ng-if="fields.AcctUsersLuAdmin == 'Yes'">
              <label class="control-label">This administrator should receive in-app messages from...</label>
              <div>
                <div class="checkbox checkbox-info">
                  <input type="checkbox" ng-model="fields.AcctUsersLuAdminReceiveMessagesCandidate" ng-true-value="'Yes'" ng-false-value="'No'" id="chk-messages-candidates" />
                  <label for="chk-candidate">Candidates</label><br />

                  <input type="checkbox" ng-model="fields.AcctUsersLuAdminReceiveMessagesMentor" ng-true-value="'Yes'" ng-false-value="'No'" id="chk-messages-mentors" />
                  <label for="chk-candidate">Mentors</label><br />

                  <input type="checkbox" ng-model="fields.AcctUsersLuAdminReceiveMessagesReviewer" ng-true-value="'Yes'" ng-false-value="'No'" id="chk-candidate" />
                  <label for="chk-messages-reviewers">Reviewer</label><br />
                </div>
              </div>
            </div>

          </div>
          <div class="clearfix"></div>

          <div class="col-sm-7">
            <div class="col-sm-4"></div>
            <div class="col-sm-8">
              <a href="/users" class="btn btn-white">Cancel</a>
              <button ladda="saving" class="ladda-button btn btn-primary" data-style="zoom-in">{{ button_title }}</button>
            </div>
          </div>

        </form>


      </div>


      <div class="ibox-content" style="margin-top: 25px;">
        <div class="row">

          <h3>Update Password</h3>

          <form ng-submit="submit_password()" class="form-horizontal">

            <div ng-show="password_success" class="alert alert-success">
              <p><strong>Success!</strong> User password has been updated.
            </div>

            <div class="col-lg-7">
              <div class="form-group" ng-class="{ error: errors.UsersFirstName }">
                <label class="col-sm-4 control-label">New Password</label>
                <div class="col-sm-8">
                  <input type="password" class="form-control" ng-model="password_text">
                </div>
              </div>

              <div class="form-group" ng-class="{ error: password_error }">
                <label class="col-sm-4 control-label">Confirm Password</label>
                <div class="col-sm-8">
                  <input type="password" class="form-control" ng-model="password_confirm_text">
                  <field-error message="{{ password_error }}"></field-error>
                </div>
              </div>

            <div class="clearfix"></div>

            <div class="col-sm-7">
              <div class="col-sm-4"></div>
              <div class="col-sm-8">
                <button ladda="saving" class="ladda-button btn btn-primary" data-style="zoom-in">Update Password</button>
              </div>
            </div>

          </form>

        </div>
      </div>


    </div>
  </div>

</div>
<div class="spacer-bottom"></div>
