<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h1>Your Profile</h1>
    <nav aria-label="Breadcrumb">
    <ol class="breadcrumb">
      <li>
        <a href="/dashboard/">Your Dashboard</a>
      </li>
      <li class="active">
        <strong>Your Profile</strong>
      </li>
    </ol>
  </nav>
  </div>
  <div class="col-lg-2"></div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

  <div class="row">

    <!-- User Edit Panel -->
    <div class="col-sm-4" ng-show="edit == true">
      <div class="ibox">
        <div class="ibox-content">
          <div class="row m-b-lg">
            <div class="col-lg-12">
              <form ng-submit="update_user()" name="update_profile">
                <div>
                  <div class="file-drop-zone-user"
                      tooltip-placement="top"
                      uib-tooltip="Drag your photo here to upload. Click to select a photo from your computer."
                      background-img="{{ user.MediaUrl }}"
                      style="background-image"
                      ngf-drop="uploadAvatar($file)"
                      ngf-select="uploadAvatar($file)"
                      ngf-resize="{width: 250, height: 250}"
                  >
                  </div>
                  <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>

                </div>
                <div class="clearfix"></div>
                <div class="form-group">
                  <label for="fname">First name</label>
                  <input id="fname" type="text" class="form-control" ng-model="user.UsersFirstName">
                </div>
                <div class="form-group">
                  <label for="lname">Last name</label>
                  <input id="lname" type="text" class="form-control" ng-model="user.UsersLastName">
                </div>
                <div class="form-group">
                  <label for="title">Title</label>
                  <input id="title" type="text" class="form-control" ng-model="user.UsersTitle">
                </div>
                <div class="form-group">
                  <label for="inst">Institution</label>
                  <input id="inst" type="text" class="form-control" ng-model="user.UsersInstitution">
                </div>
                <div class="form-group">
                  <label for="email">Email address</label>
                  <input id="email" type="text" class="form-control" ng-model="user.UsersEmail">
                </div>
                <div class="form-group">
                  <label for="bio">Biography paragraph</label>
                  <textarea id="bio" rows="6" class="form-control" ng-model="user.UsersBio"></textarea>
                </div>

        <!-- Toggle switch for e-mail notifications -->

                  <div class="form-group">
                  <label>Receive email notifications?</label>
                  <div class="onoffswitch">
                    <input type="checkbox" class="onoffswitch-checkbox" id="allow-video" ng-model="user.UsersGetEmails" />
                    <label class="onoffswitch-label" for="allow-video">
                      <span class="onoffswitch-inner"></span>
                      <span class="onoffswitch-switch"></span>
                    </label>
                  </div>
                  </div>

                <div class="hr-line-dashed m-t"></div>

                <a href="#" ng-click="cancel_edit()" class="btn btn-white">Cancel</a>
                <button class="btn btn-primary">Save</button>
              </form>

              <div class="hr-line-dashed m-t"></div>

              <form ng-submit="submit_password()" name="update_password">

                <div ng-show="password_success" class="alert alert-success">
                  <p><strong>Success!</strong> User password has been updated.
                </div>

                <div class="form-group">
                  <label for="newpass">New password</label>
                  <input id="newpass" type="password" class="form-control" ng-model="password_text" />
                </div>
                <div class="form-group" ng-class="{ error: password_error }">
                  <label for="repeatpass">Repeat new password</label>
                  <input id="repeatpass"type="password" class="form-control" ng-model="password_confirm_text" />
                  <field-error message="{{ password_error }}"></field-error>
                </div>
                <div class="hr-line-dashed m-t"></div>

                <button class="btn btn-primary">Update Password</button>
              </form>

            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- User Information Panel -->

    <div class="col-sm-4" ng-show="edit == false">
      <div class="ibox">
        <div class="ibox-content">
          <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
              <h2>{{ user.UsersFirstName }} {{ user.UsersLastName }}</h2>

              <div class="m-b-sm">
                <img alt="Profile picture" class="img-circle" ng-src="{{ user.MediaUrl }}" alt="{{ user.UsersFirstName }} {{ user.UsersLastName }}" style="width: 100px;">
              </div>

              <p><strong>{{ user.UsersTitle }}</strong></p>
            </div>
            <div class="col-lg-12">
              <p>Joined: {{ user.UsersCreatedAt | dateToISO | date:'MMM d, yyyy' }}</p>
            </div>
            <div class="col-lg-12">
              <span ng-if="user.IsCandidate == 'Yes'" class="label label-primary m-b-sm">Candidate</span>
              <span ng-if="user.IsMentor == 'Yes'" class="label label-info m-b-sm">Mentor</span>
              <span ng-if="user.IsReviewer == 'Yes'" class="label label-warning m-b-sm">Reviewer</span>
              <span ng-if="user.IsAdmin == 'Yes'" class="label label-success m-b-sm">Admin</span>
            </div>

            <div class="clearfix"></div>
            <div class="hr-line-dashed"></div>

            <div class="col-lg-12 m-t">
              <p>{{ user.UsersInstitution}}</p>
              <p>
                <i class="fa fa-envelope"> </i>
                <a href="mailto:{{ user.UsersEmail }}">{{ user.UsersEmail }}</a>
              </p>
              <div class="hr-line-dashed m-t"></div>
              <div ng-repeat="row in me.Portfolios" class="m-b">
                <h3>{{ row.PTypesTitle }}</h3>
                <small class="muted">
                  {{ row.PortfoliosStatus }} {{ row.PortfoliosCompletionPercentage }}% Complete
                </small>
                <div class="progress progress-mini">
                  <div style="width: {{ row.PortfoliosCompletionPercentage }}%;" class="progress-bar"></div>
                </div>
              </div>
            </div>

            <div class="col-lg-12 m-t">
              <div class="hr-line-dashed m-t"></div>
              <a type="button" ng-click="edit_user()" class="m-t btn btn-primary btn-sm btn-block">
                <i class="fa fa-wrench"></i> Edit Your Profile
              </a>
            </div>

          </div>
        </div><!-- end ibox-content -->
      </div>
    </div>

    <!-- End User Information Panel -->

    <!-- Notifications and Messages Panel -->
    <div class="col-sm-8">
      <div ng-include="'app/views/common/templates/tpl-messages-notifications.html'" ng-init=""></div>
    </div>
  </div>

</div>
