<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h1>Create New Account</h1>
    <nav aria-label="Breadcrumb">
    <ol class="breadcrumb">
      <li>
          <a href="/admin/account-manager">Account Manager</a>
      </li>
      <li class="active">
          <strong>Create New Account</strong>
      </li>
    </ol>
  </nav>
  </div>
  <div class="col-lg-2"></div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

  <form method="get" class="form-horizontal">

  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h2>Account Information</h2>
          <div ibox-tools></div>
        </div>
        <div class="ibox-content">
          <div class="form-group">
            <label class="col-sm-2 control-label">Agency Name</label>
            <div class="col-sm-10">

              <!-- Agency Input -->
              <input type="text" class="form-control">
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">Account Owner</label>
            <div class="col-sm-3">
              <input type="text" class="form-control" placeholder="First Name">
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" placeholder="Last Name">
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" placeholder="Title">
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-6">

              <!-- Agency Input -->
              <input type="text" class="form-control" placeholder="Email Address">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-3 col-sm-offset-2">
              <button class="btn btn-white">Cancel</button>
              <button class="btn btn-primary">Save Account</button>
            </div>
            <div class="col-sm-6"><small>
              User will receive an email notifying them that they are the account owner.
            </small></div>
          </div>

        </div>
      </div>
    </div>
  </div>

  </form>
</div>
