<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h1>Account Manager</h1>
  </div>
  <div class="col-lg-2">
    <a href="/admin/account-add-edit" class="btn btn-block btn-outline btn-primary m-t-md">Create Account</a>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    
    <!-- Accounts repeater - should put this in a partial template -->
    <div class="col-lg-5">
      <div class="ibox">
        <div class="ibox-title">
          <!-- Button group -->
          <div class="pull-right btn-group">
            <a href="/admin/account-add-edit" class="btn btn-default btn-xs" title="Edit this account"><i class="fa fa-wrench"></i> Edit</a>
            <a href="#" ng-controller="ModalDeleteCtrl" ng-click="open(1, 'portfolio')" class="btn btn-danger btn-xs" title="Delete this account"><i class="fa fa-close"></i></a>
          </div>
          <h2>National Center on Deaf-Blindness</h2>
        </div>
        <div class="ibox-content">
        </div>
      </div>
    </div>
    
    <div class="col-lg-5">
      <div class="ibox">
        <div class="ibox-title">
          <!-- Button group -->
          <div class="pull-right btn-group">
            <a href="#" class="btn btn-default btn-xs" title="Edit this portfolio"><i class="fa fa-wrench"></i> Edit</a>
            <a href="#" class="btn btn-danger btn-xs" title="Delete this portfolio"><i class="fa fa-close"></i></a>
          </div>
          <h2>The Research Institute</h2>
        </div>
        <div class="ibox-content">
        </div>
      </div>
    </div>
    <!-- End Accounts repeater -->
    
  </div>
</div>  