<div class="alert alert-info">
  <span class="col-sm-1 file-icon file-icon-{{ row.MediaTypeShort }}" title="{{ row.MediaName }}"></span>
  <h4 class="col-sm-8"><a href="{{ row.MediaUrl }}" target="_self">{{ row.MediaName }}</a></h4>
  <div class="col-sm-2">
    <a class="btn btn-white btn-sm m-t-sm" href="{{ row.MediaUrl }}" target="_self">
      <i class="fa fa-download"></i> Download
    </a>
  </div>
  <div class="clearfix"></div>
</div>
