<!DOCTYPE html>
<html ng-app="pdfviewer">
  <head>
    <link href="/app/bower/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/app/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/app/css/style.css" rel="stylesheet">
  </head>
  <body ng-controller="pdfCtrl" class="fixed-nav">
    <!-- PDF Menu -->
    <nav class="col-sm-12 nav navbar-fixed-top" ng-cloak>
      <div class="navbar-header">
        <div class="btn-group">
          <button class="btn btn-sm btn-primary fa fa-rotate-left"title="Rotate left" ng-click="pdfViewer.rotateLeft()"></button>
          <button class="btn btn-sm btn-primary fa fa-rotate-right" title="Rotate right" ng-click="pdfViewer.rotateRight()"></button>
          <button class="btn btn-sm btn-primary fa fa-arrow-left" title="Previous page" ng-click="pdfViewer.previousPage()"></button>
          <button class="btn btn-sm btn-primary fa fa-arrow-right" title="Next page" ng-click="pdfViewer.nextPage()"></button>
          <button class="btn btn-sm btn-primary fa fa-plus" title="Zoom In" ng-click="pdfViewer.zoomIn()"></button>
          <button class="btn btn-sm btn-primary fa fa-minus" title="Zoom Out" ng-click="pdfViewer.zoomOut()"></button>
          <a ng-href="{{pdfUrl}}" title="Download PDF" target="_blank" class="btn btn-sm btn-info fa fa-cloud-download"></a>
          <input type="number" ng-model="pdfViewer.page" min="1" max="{{pdfViewer.total}}" /> / {{pdfViewer.total}}
        </div>
        <div class="pull-right m-l-lg" ng-if="pdfViewer.loading">
          <span class="badge badge-warning">Loading...</span>
        </div>
      </div>
    </nav>

    <div pdf-viewer="{
      mouseZoom: false,
      mousePan:  true
    }" pdf-url="pdfUrl" id="pdf-viewer"></div>

    <script src="/app/bower/angular/angular.js"></script>
    <script src="/app/plugins/pdf/compatibility.js"></script>
    <!-- https://github.com/ArchmageInc/angular-pdfjs -->
    <script src="/app/plugins/pdf/pdf.js"></script>

    <script src="/app/plugins/angular-pdfjs/angular-pdfjs.js"></script>
    <script src="/app/controllers/pdf-viewer.js"></script>
  </body>
</html>
