<figure responsive-video>
  <iframe width="400" height="315" ng-src="{{ row.MediaPath | embedUrl }}" frameborder="0" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
</figure>
