<ul class="nav metismenu" id="side-menu">
  <li class="nav-header">
    <div class="dropdown profile-element"> <span>
        <img alt="Profile Picture" class="img-circle" style="width: 48px; height: 48px;" src="app/images/a4.jpg" />
         </span>
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
        <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">Jeff Denton</strong>
         </span> <span class="text-muted text-xs block">Candidate <b class="caret"></b></span> </span> </a>
        <ul class="dropdown-menu animated fadeInRight m-t-xs">
            <li><a href="/users/profile/1">Profile</a></li>
            <li><a href="mailbox.html">Mailbox</a></li>
            <li class="divider"></li>
            <li><a href="login.html">Logout</a></li>
        </ul>
    </div>
    <div class="logo-element">
        IN+
    </div>
  </li>
</ul>  
