<ul class="nav metismenu" id="side-menu">
  <li>ACCOUNT OWNER MENU</li>
  <li class="active">
    <a href="/dashboard/account-owner">
      <i class="fa fa-th-large"></i> <span class="nav-label">Dashboard</span>
    </a>
  </li>
  <li>
    <a href="/portfolio-types/portfolio-manager">
      <i class="fa fa-folder-open"></i> <span class="nav-label">Portfolio Manager</span>
    </a>
  </li>
  <li>
    <a href="/users">
      <i class="fa fa-users"></i> <span class="nav-label">User Manager</span>
    </a>
  </li>
</ul>
