<ul class="nav metismenu" id="side-menu">
  <li>CANDIDATE MENU</li>
  <li class="active">
    <a href="/dashboard/candidate">
      <i class="fa fa-th-large"></i> <span class="nav-label">Dashboard</span>
    </a>
  </li>
  <li>
    <a href="#">
      <i class="fa fa-archive"></i> <span class="nav-label">My Portfolios</span>
      <span class="fa arrow"></span>

      <ul class="nav nav-second-level">
        <li><a href="/portfolios/overview/intervener-cert">Intervener Certification</a></li>
      </ul>  
    </a>
  </li>
  <li>
    <a href="/mentors">
      <i class="fa fa-user"></i> <span class="nav-label">Mentors</span>
    </a>
  </li>
</ul>
