<ul class="nav metismenu" id="side-menu">
  <li>ADMIN MENU</li>
  <li class="active">
    <a href="/dashboard/admin">
      <i class="fa fa-th-large"></i> <span class="nav-label">Dashboard</span>
    </a>
  </li>
  <li>
    <a href="/admin/account-manager">
      <i class="fa fa-folder-open"></i> <span class="nav-label">Accounts</span>
    </a>
  </li>
</ul>  