<ul class="nav metismenu" id="side-menu">
  <li>REVIEWER MENU</li>
  <li class="active">
    <a href="/dashboard/reviewer">
      <i class="fa fa-th-large"></i> <span class="nav-label">Dashboard</span>
    </a>
  </li>
  <li>
    <a href="/candidates">
      <i class="fa fa-user"></i> <span class="nav-label">My Candidates</span>
      <span class="fa arrow"></span>

      <ul class="nav nav-second-level">
        <li><a href="">Jeff Denton</a></li>
        <li><a href="">Spicer Matthews</a></li>
        <li><a href="">Amy Parker</a></li>
      </ul>  
    </a>
  </li>
</ul>  